In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
inst_="internet_graph"
method_="lp"
dim_=200
id_=1
ver_="fmax"

In [4]:
form_="fmaxc0"

file=f"../result/{inst_}/{method_}/{ver_}/{method_}_{form_}_{inst_}_{dim_}_{id_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','time','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}_{form_}_{dim_}_{id_}",
    'bb':table["bb"].sum(),
    'time':table['time'].sum(),
    'opt':table['opt'].sum(),
    'tk':table['bb'].max()
    },index=[f"{form_}_{inst_}_{dim_}_{id_}"]
)

table = pd.concat([table, resume], ignore_index=True)
lp_internet_c0 = table
#lp_internet_c0

#print(lp_internet_c0[['vertice','bb','time','opt']].to_latex(index=False,float_format="%.2f"))

In [5]:
form_="fmaxc0noclq"

file=f"../result/{inst_}/{method_}/{ver_}/{method_}_{form_}_{inst_}_{dim_}_{id_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','time','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}_{form_}_{dim_}_{id_}",
    'bb':table["bb"].sum(),
    'time':table['time'].sum(),
    'opt':table['opt'].sum(),
    'tk':table['bb'].max()
    },index=[f"{form_}_{inst_}_{dim_}_{id_}"]
)

table = pd.concat([table, resume], ignore_index=True)
lp_internet_c0noclq = table
#lp_internet_c0noclq

#print(lp_internet_c0noclq[['vertice','bb','time','opt']].to_latex(index=False,float_format="%.2f"))

In [6]:
form_="fmaxc1"

file=f"../result/{inst_}/{method_}/{ver_}/{method_}_{form_}_{inst_}_{dim_}_{id_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','time','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}_{form_}_{dim_}_{id_}",
    'bb':table["bb"].sum(),
    'time':table['time'].sum(),
    'opt':table['opt'].sum(),
    'tk':table['bb'].max()
    },index=[f"{form_}_{inst_}_{dim_}_{id_}"]
)

table = pd.concat([table, resume], ignore_index=True)
lp_internet_c1 = table
#lp_internet_c1

#print(lp_internet_c1[['vertice','bb','time','opt']].to_latex(index=False,float_format="%.2f"))

In [7]:
form_="fmaxc1noclq"

file=f"../result/{inst_}/{method_}/{ver_}/{method_}_{form_}_{inst_}_{dim_}_{id_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','time','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}_{form_}_{dim_}_{id_}",
    'bb':table["bb"].sum(),
    'time':table['time'].sum(),
    'opt':table['opt'].sum(),
    'tk':table['bb'].max()
    },index=[f"{form_}_{inst_}_{dim_}_{id_}"]
)

table = pd.concat([table, resume], ignore_index=True)
lp_internet_c1noclq = table
#lp_internet_c1noclq

#print(lp_internet_c1noclq[['vertice','bb','time','opt']].to_latex(index=False,float_format="%.2f"))

In [8]:
form_="fmaxc2"

file=f"../result/{inst_}/{method_}/{ver_}/{method_}_{form_}_{inst_}_{dim_}_{id_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','time','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}_{form_}_{dim_}_{id_}",
    'bb':table["bb"].sum(),
    'time':table['time'].sum(),
    'opt':table['opt'].sum(),
    'tk':table['bb'].max()
    },index=[f"{form_}_{inst_}_{dim_}_{id_}"]
)

table = pd.concat([table, resume], ignore_index=True)
lp_internet_c2 = table
#lp_internet_c2

#print(lp_internet_c2[['vertice','bb','time','opt']].to_latex(index=False,float_format="%.2f"))

In [9]:
form_="fmaxmisetc2"

file=f"../result/{inst_}/{method_}/{ver_}/{method_}_{form_}_{inst_}_{dim_}_{id_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','time','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}_{form_}_{dim_}_{id_}",
    'bb':table["bb"].sum(),
    'time':table['time'].sum(),
    'opt':table['opt'].sum(),
    'tk':table['bb'].max()
    },index=[f"{form_}_{inst_}_{dim_}_{id_}"]
)

table = pd.concat([table, resume], ignore_index=True)
lp_internet_misetc2 = table
#lp_internet_misetc2

#print(lp_internet_misetc2[['vertice','bb','time','opt']].to_latex(index=False,float_format="%.2f"))

In [10]:
form_="fmaxmisetc3"

file=f"../result/{inst_}/{method_}/{ver_}/{method_}_{form_}_{inst_}_{dim_}_{id_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','time','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}_{form_}_{dim_}_{id_}",
    'bb':table["bb"].sum(),
    'time':table['time'].sum(),
    'opt':table['opt'].sum(),
    'tk':table['bb'].max()
    },index=[f"{form_}_{inst_}_{dim_}_{id_}"]
)

table = pd.concat([table, resume], ignore_index=True)
lp_internet_misetc3 = table
#lp_internet_misetc3

#print(lp_internet_misetc3[['vertice','bb','time','opt']].to_latex(index=False,float_format="%.2f"))

In [11]:
form_="fmaxmiset"

file=f"../result/{inst_}/{method_}/{ver_}/{method_}_{form_}_{inst_}_{dim_}_{id_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','time','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}_{form_}_{dim_}_{id_}",
    'bb':table["bb"].sum(),
    'time':table['time'].sum(),
    'opt':table['opt'].sum(),
    'tk':table['bb'].max()
    },index=[f"{form_}_{inst_}_{dim_}_{id_}"]
)

table = pd.concat([table, resume], ignore_index=True)
lp_internet_miset = table
#lp_internet_miset

#print(lp_internet_miset[['vertice','bb','time','opt']].to_latex(index=False,float_format="%.2f"))

In [12]:
lp_merge = pd.DataFrame()

lp_merge = pd.merge(
    lp_internet_c0, lp_internet_c0noclq,
    on=['vertice'], 
    suffixes=("", "_b"),
    )

lp_merge = pd.merge(
    lp_merge, lp_internet_c1,
    on=['vertice'], 
    suffixes=("", "_c"),
    )

lp_merge = pd.merge(
    lp_merge, lp_internet_c1noclq,
    on=['vertice'], 
    suffixes=("", "_d"),
    )

lp_merge = pd.merge(
    lp_merge, lp_internet_c2,
    on=['vertice'], 
    suffixes=("", "_e"),
    )

lp_merge = pd.merge(
    lp_merge, lp_internet_misetc2,
    on=['vertice'], 
    suffixes=("", "_f"),
    )

lp_merge = pd.merge(
    lp_merge, lp_internet_misetc3,
    on=['vertice'], 
    suffixes=("", "_g"),
    )

lp_merge = pd.merge(
    lp_merge, lp_internet_miset,
    on=['vertice'], 
    suffixes=("", "_h"),
    )

#lp_merge

In [13]:
lp_merge[[
    'vertice',
    'bb','tk',
    'bb_b','tk_b',
    'bb_c','tk_c',
    'bb_d','tk_d',
    'bb_e','tk_e',
    'bb_f','tk_f',
    'bb_g','tk_g',
    'bb_h','tk_h',
    ]]

,vertice,bb,tk,bb_b,tk_b,bb_c,tk_c,bb_d,tk_d,bb_e,tk_e,bb_f,tk_f,bb_g,tk_g,bb_h,tk_h
0,0,93.3,NaN,93.3,NaN,93.3,NaN,93.3,NaN,73.0,NaN,114.3,NaN,114.3,NaN,93.3,NaN
1,1,85.3,NaN,85.3,NaN,85.3,NaN,85.3,NaN,74.3,NaN,102.9,NaN,102.8,NaN,79.3,NaN
2,2,93.0,NaN,93.0,NaN,93.0,NaN,93.0,NaN,75.3,NaN,113.5,NaN,113.5,NaN,94.9,NaN
3,3,75.0,NaN,75.0,NaN,75.0,NaN,75.0,NaN,67.8,NaN,89.5,NaN,89.5,NaN,57.9,NaN
4,4,67.0,NaN,67.0,NaN,67.0,NaN,67.0,NaN,58.8,NaN,69.4,NaN,69.4,NaN,39.4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,195,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
196,196,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
197,197,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
198,198,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
199,199,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN

In [14]:
#print(result[['vertice','bb','bb_fmax','bb_miset','bb_neighb']].to_latex(index=False,float_format="%.1f"))
"""
with open('../result/tex/lp_fmax_internet_200_1.tex', 'w') as tf:
     tf.write(
          lp_merge[[
               'vertice',
               'bb','tk',
               'bb_b','tk_b',
               'bb_c','tk_c',
               'bb_d','tk_d',
               'bb_e','tk_e',
               'bb_f','tk_f',
               'bb_g','tk_g',
               'bb_h','tk_h',
    ]].to_latex(index=False,float_format="%.1f")
)
"""

/tmp/ipykernel_8346/2755026805.py:5: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  lp_merge[[

In [15]:
lp_concat = pd.DataFrame()
lp_concat = pd.concat([lp_concat,lp_internet_c0.loc[200:200]], ignore_index= True)
lp_concat = pd.concat([lp_concat,lp_internet_c0noclq.loc[200:200]], ignore_index= True)
lp_concat = pd.concat([lp_concat,lp_internet_c1.loc[200:200]], ignore_index= True)
lp_concat = pd.concat([lp_concat,lp_internet_c1noclq.loc[200:200]], ignore_index= True)
lp_concat = pd.concat([lp_concat,lp_internet_c2.loc[200:200]], ignore_index= True)
lp_concat = pd.concat([lp_concat,lp_internet_misetc2.loc[200:200]], ignore_index= True)
lp_concat = pd.concat([lp_concat,lp_internet_misetc3.loc[200:200]], ignore_index= True)
lp_concat = pd.concat([lp_concat,lp_internet_miset.loc[200:200]], ignore_index= True)
lp_concat

                vertice      bb   time    opt     tk
0       lp_fmaxc0_200_1  2655.1  16.70  200.0   93.8
1  lp_fmaxc0noclq_200_1  2655.1  24.72  200.0   93.8
2       lp_fmaxc1_200_1  2655.1   7.86  200.0   93.8
3  lp_fmaxc1noclq_200_1  2655.1  12.27  200.0   93.8
4       lp_fmaxc2_200_1  2357.9   7.71  200.0   75.3
5  lp_fmaxmisetc2_200_1  2918.3   9.49  200.0  114.3
6  lp_fmaxmisetc3_200_1  2913.0   8.56  200.0  114.3
7    lp_fmaxmiset_200_1  1693.9   0.00  200.0   94.9

In [16]:
print(
lp_concat[['vertice','bb','time','tk']].to_latex(index=False,float_format="%.1f")
)

\begin{tabular}{lrrr}
\toprule
             vertice &     bb &  time &    tk \\
\midrule
     lp\_fmaxc0\_200\_1 & 2655.1 &  16.7 &  93.8 \\
lp\_fmaxc0noclq\_200\_1 & 2655.1 &  24.7 &  93.8 \\
     lp\_fmaxc1\_200\_1 & 2655.1 &   7.9 &  93.8 \\
lp\_fmaxc1noclq\_200\_1 & 2655.1 &  12.3 &  93.8 \\
     lp\_fmaxc2\_200\_1 & 2357.9 &   7.7 &  75.3 \\
lp\_fmaxmisetc2\_200\_1 & 2918.3 &   9.5 & 114.3 \\
lp\_fmaxmisetc3\_200\_1 & 2913.0 &   8.6 & 114.3 \\
  lp\_fmaxmiset\_200\_1 & 1693.9 &   0.0 &  94.9 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_8346/119560880.py:2: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  lp_concat[['vertice','bb','time','tk']].to_latex(index=False,float_format="%.1f")