In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
inst_="internet_graph"
method_="mip"
dim_=200
id_=6
ver_="fmin"

In [3]:
form_="fminc2"

file=f"../result/{inst_}/{method_}/{ver_}/{dim_}/{method_}_{form_}_{inst_}_{dim_}_{id_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','bs','gap','time','nodes','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}_{form_}_{dim_}_{id_}",
    'bb':table["bb"].sum(),
    'bs':table["bs"].sum(),
    'gap':table['gap'].sum(),
    'time':table['time'].sum(),
    'nodes':table['nodes'].sum(),
    'opt':table['opt'].sum(),
    "tk":table["bs"].max(),
    "tmax":table["time"].max()
    },index=[f"{form_}_{inst_}_{dim_}_{id_}"]
)

table = pd.concat([table, resume], ignore_index=True)
mip_internet_c2 = table
#mip_internet_c2

#print(mip_internet_c2[['vertice','bb','bs','gap','time','nodes','opt']].to_latex(index=False,float_format="%.2f"))

In [4]:
form_="fminmisetc2"

file=f"../result/{inst_}/{method_}/{ver_}/{dim_}/{method_}_{form_}_{inst_}_{dim_}_{id_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','bs','gap','time','nodes','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}_{form_}_{dim_}_{id_}",
    'bb':table["bb"].sum(),
    'bs':table["bs"].sum(),
    'gap':table['gap'].sum(),
    'time':table['time'].sum(),
    'nodes':table['nodes'].sum(),
    'opt':table['opt'].sum(),
    "tk":table["bs"].max(),
    "tmax":table["time"].max()
    },index=[f"{form_}_{inst_}_{dim_}_{id_}"]
)

table = pd.concat([table, resume], ignore_index=True)
mip_internet_misetc2 = table
#mip_internet_misetc2

#print(mip_internet_misetc2[['vertice','bb','bs','gap','time','nodes','opt']].to_latex(index=False,float_format="%.2f"))

In [5]:
form_="fminmisetc3"

file=f"../result/{inst_}/{method_}/{ver_}/{dim_}/{method_}_{form_}_{inst_}_{dim_}_{id_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','bs','gap','time','nodes','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}_{form_}_{dim_}_{id_}",
    'bb':table["bb"].sum(),
    'bs':table["bs"].sum(),
    'gap':table['gap'].sum(),
    'time':table['time'].sum(),
    'nodes':table['nodes'].sum(),
    'opt':table['opt'].sum(),
    "tk":table["bs"].max(),
    "tmax":table["time"].max()
    },index=[f"{form_}_{inst_}_{dim_}_{id_}"]
)

table = pd.concat([table, resume], ignore_index=True)
mip_internet_misetc3 = table
#mip_internet_misetc3

#print(mip_internet_misetc3[['vertice','bb','bs','gap','time','nodes','opt']].to_latex(index=False,float_format="%.2f"))

In [6]:
form_="fminmiset"

file=f"../result/{inst_}/{method_}/{ver_}/{dim_}/{method_}_{form_}_{inst_}_{dim_}_{id_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','bs','gap','time','nodes','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}_{form_}_{dim_}_{id_}",
    'bb':table["bb"].sum(),
    'bs':table["bs"].sum(),
    'gap':table['gap'].sum(),
    'time':table['time'].sum(),
    'nodes':table['nodes'].sum(),
    'opt':table['opt'].sum(),
    "tk":table["bs"].max(),
    "tmax":table["time"].max()
    },index=[f"{form_}_{inst_}_{dim_}_{id_}"]
)

table = pd.concat([table, resume], ignore_index=True)
mip_internet_miset = table
#mip_internet_miset

#print(mip_internet_miset[['vertice','bb','bs','gap','time','nodes','opt']].to_latex(index=False,float_format="%.2f"))

In [7]:
form_="fmincutmisetc3"

file=f"../result/{inst_}/{method_}/{ver_}/{dim_}/{method_}_{form_}_{inst_}_{dim_}_{id_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','bs','gap','time','nodes','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}_{form_}_{dim_}_{id_}",
    'bb':table["bb"].sum(),
    'bs':table["bs"].sum(),
    'gap':table['gap'].sum(),
    'time':table['time'].sum(),
    'nodes':table['nodes'].sum(),
    'opt':table['opt'].sum(),
    "tk":table["bs"].max(),
    "tmax":table["time"].max()
    },index=[f"{form_}_{inst_}_{dim_}_{id_}"]
)

table = pd.concat([table, resume], ignore_index=True)
mip_internet_cutmisetc3 = table
#mip_internet_cutmisetc3

#print(mip_internet_cut_misetc3[['vertice','bb','bs','gap','time','nodes','opt']].to_latex(index=False,float_format="%.2f"))

In [8]:
form_="fmincutbmisetc3"

file=f"../result/{inst_}/{method_}/{ver_}/{dim_}/{method_}_{form_}_{inst_}_{dim_}_{id_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','bs','gap','time','nodes','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}_{form_}_{dim_}_{id_}",
    'bb':table["bb"].sum(),
    'bs':table["bs"].sum(),
    'gap':table['gap'].sum(),
    'time':table['time'].sum(),
    'nodes':table['nodes'].sum(),
    'opt':table['opt'].sum(),
    "tk":table["bs"].max(),
    "tmax":table["time"].max()
    },index=[f"{form_}_{inst_}_{dim_}_{id_}"]
)

table = pd.concat([table, resume], ignore_index=True)
mip_internet_cutbmisetc3 = table
#mip_internet_cutbmisetc3

#print(mip_internet_cutb_misetc3[['vertice','bb','bs','gap','time','nodes','opt']].to_latex(index=False,float_format="%.2f"))

In [11]:
mip_merge = pd.DataFrame()

mip_merge = pd.merge(
    mip_internet_c2, mip_internet_misetc2,
    on=['vertice'], 
    suffixes=("", "_f"),
    )

mip_merge = pd.merge(
    mip_merge, mip_internet_misetc3,
    on=['vertice'], 
    suffixes=("", "_g"),
    )

mip_merge = pd.merge(
    mip_merge, mip_internet_miset,
    on=['vertice'], 
    suffixes=("", "_h"),
    )

mip_merge = pd.merge(
    mip_merge, mip_internet_cutmisetc3,
    on=['vertice'], 
    suffixes=("", "_i"),
    )


mip_merge = pd.merge(
    mip_merge, mip_internet_cutbmisetc3,
    on=['vertice'], 
    suffixes=("", "_j"),
    )

mip_merge[[
    'vertice',
    'bs','gap','time','opt','tk','tmax',
    'bs_f','gap_f','time_f','opt_f','tk_f','tmax_f',
    'bs_g','gap_g','time_g','opt_g','tk_g','tmax_g',
    'bs_h','gap_h','time_h','opt_h','tk_h','tmax_h',
    'bs_i','gap_i','time_i','opt_i','tk_i','tmax_i',
    'bs_j','gap_j','time_j','opt_j','tk_j','tmax_j',
    ]]

,vertice,bs,gap,time,opt,tk,tmax,bs_f,gap_f,time_f,...,time_i,opt_i,tk_i,tmax_i,bs_j,gap_j,time_j,opt_j,tk_j,tmax_j
0,0,142.0,0.0,19.68,1.0,NaN,NaN,142.0,0.0,25.89,...,7.30,1.0,NaN,NaN,142.0,0.0,6.46,1.0,NaN,NaN
1,1,142.0,0.0,11.01,1.0,NaN,NaN,142.0,0.0,10.07,...,1.95,1.0,NaN,NaN,142.0,0.0,1.61,1.0,NaN,NaN
2,2,141.0,0.0,10.91,1.0,NaN,NaN,141.0,0.0,9.19,...,6.83,1.0,NaN,NaN,141.0,0.0,6.02,1.0,NaN,NaN
3,3,142.0,0.0,11.96,1.0,NaN,NaN,142.0,0.0,7.71,...,5.65,1.0,NaN,NaN,142.0,0.0,5.12,1.0,NaN,NaN
4,4,141.0,0.0,12.28,1.0,NaN,NaN,141.0,0.0,11.61,...,4.09,1.0,NaN,NaN,141.0,0.0,3.71,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,195,1.0,0.0,0.00,1.0,NaN,NaN,1.0,0.0,0.00,...,0.00,1.0,NaN,NaN,1.0,0.0,0.00,1.0,NaN,NaN
196,196,1.0,0.0,0.00,1.0,NaN,NaN,1.0,0.0,0.00,...,0.00,1.0,NaN,NaN,1.0,0.0,0.00,1.0,NaN,NaN
197,197,1.0,0.0,0.00,1.0,NaN,NaN,1.0,0.0,0.00,...,0.00,1.0,NaN,NaN,1.0,0.0,0.00,1.0,NaN,NaN
198,198,1.0,0.0,0.00,1.0,NaN,NaN,1.0,0.0,0.00,...,0.00,1.0,NaN,NaN,1.0,0.0,0.00,1.0,NaN,NaN
199,199,1.0,0.0,0.00,1.0,NaN,NaN,1.0,0.0,0.00,...,0.00,1.0,NaN,NaN,1.0,0.0,0.00,1.0,NaN,NaN

In [12]:
mip_concat = pd.DataFrame()
mip_concat = pd.concat([mip_concat, mip_internet_c2.loc[200:200]], ignore_index=True)
mip_concat = pd.concat([mip_concat, mip_internet_misetc2.loc[200:200]], ignore_index=True)
mip_concat = pd.concat([mip_concat, mip_internet_misetc3.loc[200:200]], ignore_index=True)
mip_concat = pd.concat([mip_concat, mip_internet_miset.loc[200:200]], ignore_index=True)
mip_concat = pd.concat([mip_concat, mip_internet_cutmisetc3.loc[200:200]], ignore_index=True)
mip_concat = pd.concat([mip_concat, mip_internet_cutbmisetc3.loc[200:200]], ignore_index=True)
mip_concat

,vertice,bb,bs,gap,time,nodes,opt,tk,tmax
0,mip_fminc2_200_6,5956.0,5956.0,0.0,789.14,5703.0,200.0,149.0,38.47
1,mip_fminmisetc2_200_6,5956.0,5956.0,0.0,634.74,654.0,200.0,149.0,25.89
2,mip_fminmisetc3_200_6,5956.0,5956.0,0.0,548.69,702.0,200.0,149.0,22.73
3,mip_fminmiset_200_6,5675.0,5675.0,0.0,4.27,748.0,200.0,145.0,0.13
4,mip_fmincutmisetc3_200_6,5956.0,5956.0,0.0,262.07,910.0,200.0,149.0,9.62
5,mip_fmincutbmisetc3_200_6,5956.0,5956.0,0.0,234.76,909.0,200.0,149.0,8.81

In [13]:
print(
mip_concat[[
    'vertice','bs','gap','time','opt','tk','tmax',
    ]].to_latex(index=False,float_format="%.1f")
)

\begin{tabular}{lrrrrrr}
\toprule
                  vertice &     bs &  gap &  time &   opt &    tk &  tmax \\
\midrule
         mip\_fminc2\_200\_6 & 5956.0 &  0.0 & 789.1 & 200.0 & 149.0 &  38.5 \\
    mip\_fminmisetc2\_200\_6 & 5956.0 &  0.0 & 634.7 & 200.0 & 149.0 &  25.9 \\
    mip\_fminmisetc3\_200\_6 & 5956.0 &  0.0 & 548.7 & 200.0 & 149.0 &  22.7 \\
      mip\_fminmiset\_200\_6 & 5675.0 &  0.0 &   4.3 & 200.0 & 145.0 &   0.1 \\
 mip\_fmincutmisetc3\_200\_6 & 5956.0 &  0.0 & 262.1 & 200.0 & 149.0 &   9.6 \\
mip\_fmincutbmisetc3\_200\_6 & 5956.0 &  0.0 & 234.8 & 200.0 & 149.0 &   8.8 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_9557/1047115439.py:2: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  mip_concat[[