In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
inst_="internet_graph"
method_="mip"
dim_=200
id_=9
ver_="fmin"

In [3]:
form_="fminc2"

file=f"../result/{inst_}/{method_}/{ver_}/{dim_}/{method_}_{form_}_{inst_}_{dim_}_{id_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','bs','gap','time','nodes','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}_{form_}_{dim_}_{id_}",
    'bb':table["bb"].sum(),
    'bs':table["bs"].sum(),
    'gap':table['gap'].sum(),
    'time':table['time'].sum(),
    'nodes':table['nodes'].sum(),
    'opt':table['opt'].sum(),
    "tk":table["bs"].max(),
    "tmax":table["time"].max()
    },index=[f"{form_}_{inst_}_{dim_}_{id_}"]
)

table = pd.concat([table, resume], ignore_index=True)
mip_internet_c2 = table
#mip_internet_c2

#print(mip_internet_c2[['vertice','bb','bs','gap','time','nodes','opt']].to_latex(index=False,float_format="%.2f"))

In [4]:
form_="fminmisetc2"

file=f"../result/{inst_}/{method_}/{ver_}/{dim_}/{method_}_{form_}_{inst_}_{dim_}_{id_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','bs','gap','time','nodes','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}_{form_}_{dim_}_{id_}",
    'bb':table["bb"].sum(),
    'bs':table["bs"].sum(),
    'gap':table['gap'].sum(),
    'time':table['time'].sum(),
    'nodes':table['nodes'].sum(),
    'opt':table['opt'].sum(),
    "tk":table["bs"].max(),
    "tmax":table["time"].max()
    },index=[f"{form_}_{inst_}_{dim_}_{id_}"]
)

table = pd.concat([table, resume], ignore_index=True)
mip_internet_misetc2 = table
#mip_internet_misetc2

#print(mip_internet_misetc2[['vertice','bb','bs','gap','time','nodes','opt']].to_latex(index=False,float_format="%.2f"))

In [5]:
form_="fminmisetc3"

file=f"../result/{inst_}/{method_}/{ver_}/{dim_}/{method_}_{form_}_{inst_}_{dim_}_{id_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','bs','gap','time','nodes','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}_{form_}_{dim_}_{id_}",
    'bb':table["bb"].sum(),
    'bs':table["bs"].sum(),
    'gap':table['gap'].sum(),
    'time':table['time'].sum(),
    'nodes':table['nodes'].sum(),
    'opt':table['opt'].sum(),
    "tk":table["bs"].max(),
    "tmax":table["time"].max()
    },index=[f"{form_}_{inst_}_{dim_}_{id_}"]
)

table = pd.concat([table, resume], ignore_index=True)
mip_internet_misetc3 = table
#mip_internet_misetc3

#print(mip_internet_misetc3[['vertice','bb','bs','gap','time','nodes','opt']].to_latex(index=False,float_format="%.2f"))

In [6]:
form_="fminmiset"

file=f"../result/{inst_}/{method_}/{ver_}/{dim_}/{method_}_{form_}_{inst_}_{dim_}_{id_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','bs','gap','time','nodes','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}_{form_}_{dim_}_{id_}",
    'bb':table["bb"].sum(),
    'bs':table["bs"].sum(),
    'gap':table['gap'].sum(),
    'time':table['time'].sum(),
    'nodes':table['nodes'].sum(),
    'opt':table['opt'].sum(),
    "tk":table["bs"].max(),
    "tmax":table["time"].max()
    },index=[f"{form_}_{inst_}_{dim_}_{id_}"]
)

table = pd.concat([table, resume], ignore_index=True)
mip_internet_miset = table
#mip_internet_miset

#print(mip_internet_miset[['vertice','bb','bs','gap','time','nodes','opt']].to_latex(index=False,float_format="%.2f"))

In [7]:
form_="fmincutmisetc3"

file=f"../result/{inst_}/{method_}/{ver_}/{dim_}/{method_}_{form_}_{inst_}_{dim_}_{id_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','bs','gap','time','nodes','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}_{form_}_{dim_}_{id_}",
    'bb':table["bb"].sum(),
    'bs':table["bs"].sum(),
    'gap':table['gap'].sum(),
    'time':table['time'].sum(),
    'nodes':table['nodes'].sum(),
    'opt':table['opt'].sum(),
    "tk":table["bs"].max(),
    "tmax":table["time"].max()
    },index=[f"{form_}_{inst_}_{dim_}_{id_}"]
)

table = pd.concat([table, resume], ignore_index=True)
mip_internet_cutmisetc3 = table
#mip_internet_cutmisetc3

#print(mip_internet_cut_misetc3[['vertice','bb','bs','gap','time','nodes','opt']].to_latex(index=False,float_format="%.2f"))

In [8]:
form_="fmincutbmisetc3"

file=f"../result/{inst_}/{method_}/{ver_}/{dim_}/{method_}_{form_}_{inst_}_{dim_}_{id_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','bs','gap','time','nodes','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}_{form_}_{dim_}_{id_}",
    'bb':table["bb"].sum(),
    'bs':table["bs"].sum(),
    'gap':table['gap'].sum(),
    'time':table['time'].sum(),
    'nodes':table['nodes'].sum(),
    'opt':table['opt'].sum(),
    "tk":table["bs"].max(),
    "tmax":table["time"].max()
    },index=[f"{form_}_{inst_}_{dim_}_{id_}"]
)

table = pd.concat([table, resume], ignore_index=True)
mip_internet_cutbmisetc3 = table
#mip_internet_cutbmisetc3

#print(mip_internet_cutb_misetc3[['vertice','bb','bs','gap','time','nodes','opt']].to_latex(index=False,float_format="%.2f"))

In [9]:
mip_merge = pd.DataFrame()

mip_merge = pd.merge(
    mip_internet_c2, mip_internet_misetc2,
    on=['vertice'], 
    suffixes=("", "_f"),
    )

mip_merge = pd.merge(
    mip_merge, mip_internet_misetc3,
    on=['vertice'], 
    suffixes=("", "_g"),
    )

mip_merge = pd.merge(
    mip_merge, mip_internet_miset,
    on=['vertice'], 
    suffixes=("", "_h"),
    )

mip_merge = pd.merge(
    mip_merge, mip_internet_cutmisetc3,
    on=['vertice'], 
    suffixes=("", "_i"),
    )


mip_merge = pd.merge(
    mip_merge, mip_internet_cutbmisetc3,
    on=['vertice'], 
    suffixes=("", "_j"),
    )

mip_merge[[
    'vertice',
    'bs','gap','time','opt','tk','tmax',
    'bs_f','gap_f','time_f','opt_f','tk_f','tmax_f',
    'bs_g','gap_g','time_g','opt_g','tk_g','tmax_g',
    'bs_h','gap_h','time_h','opt_h','tk_h','tmax_h',
    'bs_i','gap_i','time_i','opt_i','tk_i','tmax_i',
    'bs_j','gap_j','time_j','opt_j','tk_j','tmax_j',
    ]]

,vertice,bs,gap,time,opt,tk,tmax,bs_f,gap_f,time_f,...,time_i,opt_i,tk_i,tmax_i,bs_j,gap_j,time_j,opt_j,tk_j,tmax_j
0,0,135.0,0.0,16.65,1.0,NaN,NaN,135.0,0.0,16.56,...,7.75,1.0,NaN,NaN,135.0,0.0,6.85,1.0,NaN,NaN
1,1,135.0,0.0,14.70,1.0,NaN,NaN,135.0,0.0,14.29,...,5.56,1.0,NaN,NaN,135.0,0.0,4.78,1.0,NaN,NaN
2,2,141.0,0.0,10.71,1.0,NaN,NaN,141.0,0.0,11.53,...,18.44,1.0,NaN,NaN,141.0,0.0,16.95,1.0,NaN,NaN
3,3,135.0,0.0,15.70,1.0,NaN,NaN,135.0,0.0,13.16,...,5.98,1.0,NaN,NaN,135.0,0.0,5.22,1.0,NaN,NaN
4,4,135.0,0.0,15.37,1.0,NaN,NaN,135.0,0.0,16.05,...,6.78,1.0,NaN,NaN,135.0,0.0,5.81,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,195,1.0,0.0,0.00,1.0,NaN,NaN,1.0,0.0,0.00,...,0.00,1.0,NaN,NaN,1.0,0.0,0.00,1.0,NaN,NaN
196,196,1.0,0.0,0.00,1.0,NaN,NaN,1.0,0.0,0.00,...,0.00,1.0,NaN,NaN,1.0,0.0,0.00,1.0,NaN,NaN
197,197,1.0,0.0,0.00,1.0,NaN,NaN,1.0,0.0,0.00,...,0.00,1.0,NaN,NaN,1.0,0.0,0.00,1.0,NaN,NaN
198,198,1.0,0.0,0.00,1.0,NaN,NaN,1.0,0.0,0.00,...,0.00,1.0,NaN,NaN,1.0,0.0,0.00,1.0,NaN,NaN
199,199,1.0,0.0,0.00,1.0,NaN,NaN,1.0,0.0,0.00,...,0.00,1.0,NaN,NaN,1.0,0.0,0.00,1.0,NaN,NaN

In [10]:
mip_concat = pd.DataFrame()
mip_concat = pd.concat([mip_concat, mip_internet_c2.loc[200:200]], ignore_index=True)
mip_concat = pd.concat([mip_concat, mip_internet_misetc2.loc[200:200]], ignore_index=True)
mip_concat = pd.concat([mip_concat, mip_internet_misetc3.loc[200:200]], ignore_index=True)
mip_concat = pd.concat([mip_concat, mip_internet_miset.loc[200:200]], ignore_index=True)
mip_concat = pd.concat([mip_concat, mip_internet_cutmisetc3.loc[200:200]], ignore_index=True)
mip_concat = pd.concat([mip_concat, mip_internet_cutbmisetc3.loc[200:200]], ignore_index=True)
mip_concat

,vertice,bb,bs,gap,time,nodes,opt,tk,tmax
0,mip_fminc2_200_9,5367.0,5367.0,0.0,610.83,4153.0,200.0,157.0,30.82
1,mip_fminmisetc2_200_9,5367.0,5367.0,0.0,591.61,636.0,200.0,157.0,26.58
2,mip_fminmisetc3_200_9,5367.0,5367.0,0.0,543.49,730.0,200.0,157.0,30.39
3,mip_fminmiset_200_9,4611.0,4611.0,0.0,4.17,649.0,200.0,142.0,0.16
4,mip_fmincutmisetc3_200_9,5367.0,5367.0,0.0,363.01,1017.0,200.0,157.0,23.42
5,mip_fmincutbmisetc3_200_9,5367.0,5367.0,0.0,316.71,1078.0,200.0,157.0,21.71

In [11]:
print(
mip_concat[[
    'vertice','bs','gap','time','opt','tk','tmax',
    ]].to_latex(index=False,float_format="%.1f")
)

\begin{tabular}{lrrrrrr}
\toprule
                  vertice &     bs &  gap &  time &   opt &    tk &  tmax \\
\midrule
         mip\_fminc2\_200\_9 & 5367.0 &  0.0 & 610.8 & 200.0 & 157.0 &  30.8 \\
    mip\_fminmisetc2\_200\_9 & 5367.0 &  0.0 & 591.6 & 200.0 & 157.0 &  26.6 \\
    mip\_fminmisetc3\_200\_9 & 5367.0 &  0.0 & 543.5 & 200.0 & 157.0 &  30.4 \\
      mip\_fminmiset\_200\_9 & 4611.0 &  0.0 &   4.2 & 200.0 & 142.0 &   0.2 \\
 mip\_fmincutmisetc3\_200\_9 & 5367.0 &  0.0 & 363.0 & 200.0 & 157.0 &  23.4 \\
mip\_fmincutbmisetc3\_200\_9 & 5367.0 &  0.0 & 316.7 & 200.0 & 157.0 &  21.7 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_10576/1047115439.py:2: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  mip_concat[[