In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [26]:
inst_="karate"
method_="lp"

In [27]:
form_="fmin"

file=f"../result/{inst_}/{method_}/{method_}_{form_}_{inst_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','time','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}",
    'bb':table["bb"].sum(),
    'time':table['time'].sum(),
    'opt':table['opt'].sum(),
    'tk':table['bb'].max()
    },index=[f"{inst_}"]
)

table = pd.concat([table, resume], ignore_index=True)
lp_karate_fmin = table
lp_karate_fmin

#print(lp_karate_fmin[['vertice','bb','time','opt']].to_latex(index=False,float_format="%.2f"))

   vertice     bb  time   opt    tk
0        0   16.2  0.01   1.0   NaN
1        1   11.0  0.00   1.0   NaN
2        2   14.2  0.00   1.0   NaN
3        3    3.0  0.00   1.0   NaN
4        4    2.0  0.00   1.0   NaN
5        5    3.0  0.00   1.0   NaN
6        6    3.0  0.00   1.0   NaN
7        7    1.0  0.00   1.0   NaN
8        8   12.5  0.00   1.0   NaN
9        9    9.2  0.00   1.0   NaN
10      10    2.0  0.00   1.0   NaN
11      11    1.0  0.00   1.0   NaN
12      12    1.0  0.00   1.0   NaN
13      13   12.5  0.00   1.0   NaN
14      14    1.0  0.00   1.0   NaN
15      15    1.0  0.00   1.0   NaN
16      16    1.0  0.00   1.0   NaN
17      17    1.0  0.00   1.0   NaN
18      18    1.0  0.00   1.0   NaN
19      19   12.0  0.00   1.0   NaN
20      20    1.0  0.00   1.0   NaN
21      21    1.0  0.00   1.0   NaN
22      22    1.0  0.00   1.0   NaN
23      23    7.6  0.00   1.0   NaN
24      24    7.5  0.00   1.0   NaN
25      25    6.9  0.00   1.0   NaN
26      26    1.0  0.00   1.0   NaN
27      27   10.3  0.00   1.0   NaN
28      28    9.9  0.00   1.0   NaN
29      29    2.0  0.00   1.0   NaN
30      30    8.7  0.00   1.0   NaN
31      31   13.0  0.00   1.0   NaN
32      32   12.0  0.00   1.0   NaN
33      33   12.0  0.00   1.0   NaN
34      lp  202.5  0.01  34.0  16.2

In [28]:
form_="minmiset"

file=f"../result/{inst_}/{method_}/{method_}_{form_}_{inst_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','time','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}",
    'bb':table["bb"].sum(),
    'time':table['time'].sum(),
    'opt':table['opt'].sum(),
    'tk':table['bb'].max()
    },index=[f"{inst_}"]
)

table = pd.concat([table, resume], ignore_index=True)
lp_karate_minmiset = table
lp_karate_minmiset

#print(lp_karate_minmiset[['vertice','bb','time','opt']].to_latex(index=False,float_format="%.2f"))

   vertice     bb  time   opt    tk
0        0   19.3   0.0   1.0   NaN
1        1   12.0   0.0   1.0   NaN
2        2   17.3   0.0   1.0   NaN
3        3    3.0   0.0   1.0   NaN
4        4    2.0   0.0   1.0   NaN
5        5    3.0   0.0   1.0   NaN
6        6    3.0   0.0   1.0   NaN
7        7    1.0   0.0   1.0   NaN
8        8   15.2   0.0   1.0   NaN
9        9   10.3   0.0   1.0   NaN
10      10    2.0   0.0   1.0   NaN
11      11    1.0   0.0   1.0   NaN
12      12    1.0   0.0   1.0   NaN
13      13   15.2   0.0   1.0   NaN
14      14    1.0   0.0   1.0   NaN
15      15    1.0   0.0   1.0   NaN
16      16    1.0   0.0   1.0   NaN
17      17    1.0   0.0   1.0   NaN
18      18    1.0   0.0   1.0   NaN
19      19   14.7   0.0   1.0   NaN
20      20    1.0   0.0   1.0   NaN
21      21    1.0   0.0   1.0   NaN
22      22    1.0   0.0   1.0   NaN
23      23    8.6   0.0   1.0   NaN
24      24    8.4   0.0   1.0   NaN
25      25    8.4   0.0   1.0   NaN
26      26    1.0   0.0   1.0   NaN
27      27   11.8   0.0   1.0   NaN
28      28   11.0   0.0   1.0   NaN
29      29    2.0   0.0   1.0   NaN
30      30    9.7   0.0   1.0   NaN
31      31   16.5   0.0   1.0   NaN
32      32   16.3   0.0   1.0   NaN
33      33   16.5   0.0   1.0   NaN
34      lp  238.2   0.0  34.0  19.3

In [29]:
form_="fmax"

file=f"../result/{inst_}/{method_}/{method_}_{form_}_{inst_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','time','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}",
    'bb':table["bb"].sum(),
    'time':table['time'].sum(),
    'opt':table['opt'].sum(),
    'tk':table['bb'].max()
    },index=[f"{inst_}"]
)

table = pd.concat([table, resume], ignore_index=True)
lp_karate_fmax = table
lp_karate_fmax

#print(lp_karate_fmax[['vertice','bb','time','opt']].to_latex(index=False,float_format="%.2f"))

   vertice     bb  time   opt    tk
0        0   16.2   0.0   1.0   NaN
1        1   11.0   0.0   1.0   NaN
2        2   14.2   0.0   1.0   NaN
3        3    3.0   0.0   1.0   NaN
4        4    2.0   0.0   1.0   NaN
5        5    3.0   0.0   1.0   NaN
6        6    3.0   0.0   1.0   NaN
7        7    1.0   0.0   1.0   NaN
8        8   12.5   0.0   1.0   NaN
9        9    9.2   0.0   1.0   NaN
10      10    2.0   0.0   1.0   NaN
11      11    1.0   0.0   1.0   NaN
12      12    1.0   0.0   1.0   NaN
13      13   12.5   0.0   1.0   NaN
14      14    1.0   0.0   1.0   NaN
15      15    1.0   0.0   1.0   NaN
16      16    1.0   0.0   1.0   NaN
17      17    1.0   0.0   1.0   NaN
18      18    1.0   0.0   1.0   NaN
19      19   12.0   0.0   1.0   NaN
20      20    1.0   0.0   1.0   NaN
21      21    1.0   0.0   1.0   NaN
22      22    1.0   0.0   1.0   NaN
23      23    7.6   0.0   1.0   NaN
24      24    7.5   0.0   1.0   NaN
25      25    6.9   0.0   1.0   NaN
26      26    1.0   0.0   1.0   NaN
27      27   10.3   0.0   1.0   NaN
28      28    9.9   0.0   1.0   NaN
29      29    2.0   0.0   1.0   NaN
30      30    8.7   0.0   1.0   NaN
31      31   13.0   0.0   1.0   NaN
32      32   12.0   0.0   1.0   NaN
33      33   12.0   0.0   1.0   NaN
34      lp  202.5   0.0  34.0  16.2

In [30]:
form_="maxmiset"

file=f"../result/{inst_}/{method_}/{method_}_{form_}_{inst_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','time','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}",
    'bb':table["bb"].sum(),
    'time':table['time'].sum(),
    'opt':table['opt'].sum(),
    'tk':table['bb'].max()
    },index=[f"{inst_}"]
)

table = pd.concat([table, resume], ignore_index=True)
lp_karate_maxmiset = table
lp_karate_maxmiset

#print(lp_karate_maxmiset[['vertice','bb','time','opt']].to_latex(index=False,float_format="%.2f"))

   vertice     bb  time   opt    tk
0        0   17.8   0.0   1.0   NaN
1        1   12.5   0.0   1.0   NaN
2        2   17.8   0.0   1.0   NaN
3        3    3.0   0.0   1.0   NaN
4        4    2.0   0.0   1.0   NaN
5        5    3.0   0.0   1.0   NaN
6        6    3.0   0.0   1.0   NaN
7        7    1.0   0.0   1.0   NaN
8        8   15.4   0.0   1.0   NaN
9        9   10.4   0.0   1.0   NaN
10      10    2.0   0.0   1.0   NaN
11      11    1.0   0.0   1.0   NaN
12      12    1.0   0.0   1.0   NaN
13      13   15.2   0.0   1.0   NaN
14      14    1.0   0.0   1.0   NaN
15      15    1.0   0.0   1.0   NaN
16      16    1.0   0.0   1.0   NaN
17      17    1.0   0.0   1.0   NaN
18      18    1.0   0.0   1.0   NaN
19      19   14.5   0.0   1.0   NaN
20      20    1.0   0.0   1.0   NaN
21      21    1.0   0.0   1.0   NaN
22      22    1.0   0.0   1.0   NaN
23      23    8.7   0.0   1.0   NaN
24      24    8.6   0.0   1.0   NaN
25      25    8.4   0.0   1.0   NaN
26      26    1.0   0.0   1.0   NaN
27      27   11.9   0.0   1.0   NaN
28      28   11.0   0.0   1.0   NaN
29      29    2.0   0.0   1.0   NaN
30      30    9.7   0.0   1.0   NaN
31      31   16.8   0.0   1.0   NaN
32      32   16.3   0.0   1.0   NaN
33      33   17.2   0.0   1.0   NaN
34      lp  239.2   0.0  34.0  17.8

In [31]:
result = pd.DataFrame()

result = pd.merge(
    lp_karate_fmin, lp_karate_fmax,
    on=['vertice'], 
    suffixes=("", "_max"),
    )

result = pd.merge(
    result, lp_karate_minmiset,
    on=['vertice'], 
    suffixes=("", "_minmiset"),
    )

result = pd.merge(
    result, lp_karate_maxmiset,
    on=['vertice'], 
    suffixes=("", "_maxmiset"),
    )

#result
result[['vertice','bb','tk','bb_max','tk_max','bb_minmiset','tk_minmiset','bb_maxmiset','tk_maxmiset']]

,vertice,bb,tk,bb_max,tk_max,bb_minmiset,tk_minmiset,bb_maxmiset,tk_maxmiset
0,0,16.2,NaN,16.2,NaN,19.3,NaN,17.8,NaN
1,1,11.0,NaN,11.0,NaN,12.0,NaN,12.5,NaN
2,2,14.2,NaN,14.2,NaN,17.3,NaN,17.8,NaN
3,3,3.0,NaN,3.0,NaN,3.0,NaN,3.0,NaN
4,4,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN
5,5,3.0,NaN,3.0,NaN,3.0,NaN,3.0,NaN
6,6,3.0,NaN,3.0,NaN,3.0,NaN,3.0,NaN
7,7,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
8,8,12.5,NaN,12.5,NaN,15.2,NaN,15.4,NaN
9,9,9.2,NaN,9.2,NaN,10.3,NaN,10.4,NaN
10,10,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN
11,11,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
12,12,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
13,13,12.5,NaN,12.5,NaN,15.2,NaN,15.2,NaN
14,14,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
15,15,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
16,16,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
17,17,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
18,18,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
19,19,12.0,NaN,12.0,NaN,14.7,NaN,14.5,NaN
20,20,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
21,21,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
22,22,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
23,23,7.6,NaN,7.6,NaN,8.6,NaN,8.7,NaN
24,24,7.5,NaN,7.5,NaN,8.4,NaN,8.6,NaN
25,25,6.9,NaN,6.9,NaN,8.4,NaN,8.4,NaN
26,26,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
27,27,10.3,NaN,10.3,NaN,11.8,NaN,11.9,NaN
28,28,9.9,NaN,9.9,NaN,11.0,NaN,11.0,NaN
29,29,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN
30,30,8.7,NaN,8.7,NaN,9.7,NaN,9.7,NaN
31,31,13.0,NaN,13.0,NaN,16.5,NaN,16.8,NaN
32,32,12.0,NaN,12.0,NaN,16.3,NaN,16.3,NaN
33,33,12.0,NaN,12.0,NaN,16.5,NaN,17.2,NaN
34,lp,202.5,16.2,202.5,16.2,238.2,19.3,239.2,17.8

In [32]:
#prprint(
#result[['vertice','bb','bb_max','bb_minmiset','bb_maxmiset']].to_latex(index=False,float_format="%.1f")
#)

with open('../result/karate_lp.tex', 'w') as tf:
     tf.write(
          result[[
               'vertice',
               'bb',
               'bb_max',
               'bb_minmiset',
               'bb_maxmiset'
               ]].to_latex(index=False,float_format="%.1f")
               )