In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
inst_="internet_graph"
method_="mip"

In [3]:
form_="fmin"
dim_=200
id_=1

file=f"../result/{inst_}/{method_}/{method_}_{form_}_{inst_}_{dim_}_{id_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','bs','gap','time','nodes','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}_{form_}_{dim_}_{id_}",
    'bb':table["bb"].sum(),
    'bs':table["bs"].sum(),
    'gap':table['gap'].sum(),
    'time':table['time'].sum(),
    'nodes':table['nodes'].sum(),
    'opt':table['opt'].sum(),
    "tk":table["bs"].max(),
    "tmax":table["time"].max()
    },index=[f"{form_}_{inst_}_{dim_}_{id_}"]
)

table = pd.concat([table, resume], ignore_index=True)
mip_internet_fmin_200_1 = table
mip_internet_fmin_200_1

#print(mip_internet_fmin_200_1[['vertice','bb','bs','gap','time','nodes','opt']].to_latex(index=False,float_format="%.2f"))

            vertice      bb      bs  gap    time   nodes    opt     tk   tmax
0                 0   143.0   143.0  0.0    8.04    65.0    1.0    NaN    NaN
1                 1   124.0   124.0  0.0    8.00     1.0    1.0    NaN    NaN
2                 2   127.0   127.0  0.0    3.02     1.0    1.0    NaN    NaN
3                 3   124.0   124.0  0.0   20.57    21.0    1.0    NaN    NaN
4                 4   124.0   124.0  0.0   13.44    67.0    1.0    NaN    NaN
..              ...     ...     ...  ...     ...     ...    ...    ...    ...
196             196     1.0     1.0  0.0    0.00     0.0    1.0    NaN    NaN
197             197     1.0     1.0  0.0    0.00     0.0    1.0    NaN    NaN
198             198     1.0     1.0  0.0    0.00     0.0    1.0    NaN    NaN
199             199     1.0     1.0  0.0    0.00     0.0    1.0    NaN    NaN
200  mip_fmin_200_1  5092.0  5092.0  0.0  586.82  2350.0  200.0  149.0  24.76

[201 rows x 9 columns]

In [4]:
form_="fmax"
dim_=200
id_=1

file=f"../result/{inst_}/{method_}/{method_}_{form_}_{inst_}_{dim_}_{id_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','bs','gap','time','nodes','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}_{form_}_{dim_}_{id_}",
    'bb':table["bb"].sum(),
    'bs':table["bs"].sum(),
    'gap':table['gap'].sum(),
    'time':table['time'].sum(),
    'nodes':table['nodes'].sum(),
    'opt':table['opt'].sum(),
    "tk":table["bs"].max(),
    "tmax":table["time"].max()
    },index=[f"{form_}_{inst_}_{dim_}_{id_}"]
)

table = pd.concat([table, resume], ignore_index=True)
mip_internet_fmax_200_1 = table
mip_internet_fmax_200_1

#print(mip_internet_fmax_200_1[['vertice','bb','bs','gap','time','nodes','opt']].to_latex(index=False,float_format="%.2f"))

            vertice      bb      bs  gap    time   nodes    opt     tk   tmax
0                 0   143.0   143.0  0.0   11.51    61.0    1.0    NaN    NaN
1                 1   124.0   124.0  0.0    6.32     1.0    1.0    NaN    NaN
2                 2   127.0   127.0  0.0    3.50     1.0    1.0    NaN    NaN
3                 3   124.0   124.0  0.0   16.25    15.0    1.0    NaN    NaN
4                 4   124.0   124.0  0.0   14.75    67.0    1.0    NaN    NaN
..              ...     ...     ...  ...     ...     ...    ...    ...    ...
196             196     1.0     1.0  0.0    0.00     0.0    1.0    NaN    NaN
197             197     1.0     1.0  0.0    0.00     0.0    1.0    NaN    NaN
198             198     1.0     1.0  0.0    0.00     0.0    1.0    NaN    NaN
199             199     1.0     1.0  0.0    0.00     0.0    1.0    NaN    NaN
200  mip_fmax_200_1  5092.0  5092.0  0.0  597.14  2260.0  200.0  149.0  30.05

[201 rows x 9 columns]

In [5]:
form_="fmaxmisetn0"
dim_=200
id_=1

file=f"../result/{inst_}/{method_}/{method_}_{form_}_{inst_}_{dim_}_{id_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','bs','gap','time','nodes','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}_{form_}_{dim_}_{id_}",
    'bb':table["bb"].sum(),
    'bs':table["bs"].sum(),
    'gap':table['gap'].sum(),
    'time':table['time'].sum(),
    'nodes':table['nodes'].sum(),
    'opt':table['opt'].sum(),
    "tk":table["bs"].max(),
    "tmax":table["time"].max()
    },index=[f"{form_}_{inst_}_{dim_}_{id_}"]
)

table = pd.concat([table, resume], ignore_index=True)
mip_internet_fmaxmisetn0_200_1 = table
mip_internet_fmaxmisetn0_200_1

#print(mip_internet_fmaxmisetn0_200_1[['vertice','bb','bs','gap','time','nodes','opt']].to_latex(index=False,float_format="%.2f"))

,vertice,bb,bs,gap,time,nodes,opt,tk,tmax
0,0,143.0,143.0,0.0,8.46,13.0,1.0,NaN,NaN
1,1,124.0,124.0,0.0,4.66,1.0,1.0,NaN,NaN
2,2,127.0,127.0,0.0,2.27,1.0,1.0,NaN,NaN
3,3,124.0,124.0,0.0,10.49,13.0,1.0,NaN,NaN
4,4,124.0,124.0,0.0,14.93,17.0,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
196,196,1.0,1.0,0.0,0.00,0.0,1.0,NaN,NaN
197,197,1.0,1.0,0.0,0.00,0.0,1.0,NaN,NaN
198,198,1.0,1.0,0.0,0.00,0.0,1.0,NaN,NaN
199,199,1.0,1.0,0.0,0.00,0.0,1.0,NaN,NaN
200,mip_fmaxmisetn0_200_1,5092.0,5092.0,0.0,553.50,604.0,200.0,149.0,26.62

In [6]:
form_="fminmiset"
dim_=200
id_=1

file=f"../result/{inst_}/{method_}/{method_}_{form_}_{inst_}_{dim_}_{id_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','bs','gap','time','nodes','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}_{form_}_{dim_}_{id_}",
    'bb':table["bb"].sum(),
    'bs':table["bs"].sum(),
    'gap':table['gap'].sum(),
    'time':table['time'].sum(),
    'nodes':table['nodes'].sum(),
    'opt':table['opt'].sum(),
    "tk":table["bs"].max(),
    "tmax":table["time"].max()
    },index=[f"{form_}_{inst_}_{dim_}_{id_}"]
)

table = pd.concat([table, resume], ignore_index=True)
mip_internet_fminmiset_200_1 = table
mip_internet_fminmiset_200_1

#print(mip_internet_fminmiset_200_1[['vertice','bb','bs','gap','time','nodes','opt']].to_latex(index=False,float_format="%.2f"))

                 vertice      bb      bs  gap  time  nodes    opt     tk  tmax
0                      0   110.0   110.0  0.0  0.03   18.0    1.0    NaN   NaN
1                      1   104.0   104.0  0.0  0.05   18.0    1.0    NaN   NaN
2                      2   106.0   106.0  0.0  0.04   23.0    1.0    NaN   NaN
3                      3    91.0    91.0  0.0  0.05   19.0    1.0    NaN   NaN
4                      4    84.0    84.0  0.0  0.04   19.0    1.0    NaN   NaN
..                   ...     ...     ...  ...   ...    ...    ...    ...   ...
196                  196     1.0     1.0  0.0  0.00    0.0    1.0    NaN   NaN
197                  197     1.0     1.0  0.0  0.00    0.0    1.0    NaN   NaN
198                  198     1.0     1.0  0.0  0.00    0.0    1.0    NaN   NaN
199                  199     1.0     1.0  0.0  0.00    0.0    1.0    NaN   NaN
200  mip_fminmiset_200_1  3493.0  3493.0  0.0  1.50  652.0  200.0  110.0  0.07

[201 rows x 9 columns]

In [7]:
form_="fminmisetn0"
dim_=200
id_=1

file=f"../result/{inst_}/{method_}/{method_}_{form_}_{inst_}_{dim_}_{id_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','bs','gap','time','nodes','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}_{form_}_{dim_}_{id_}",
    'bb':table["bb"].sum(),
    'bs':table["bs"].sum(),
    'gap':table['gap'].sum(),
    'time':table['time'].sum(),
    'nodes':table['nodes'].sum(),
    'opt':table['opt'].sum(),
    "tk":table["bs"].max(),
    "tmax":table["time"].max()
    },index=[f"{form_}_{inst_}_{dim_}_{id_}"]
)

table = pd.concat([table, resume], ignore_index=True)
mip_internet_fminmisetn0_200_1 = table
mip_internet_fminmisetn0_200_1

#print(mip_internet_fminmisetn0_200_1[['vertice','bb','bs','gap','time','nodes','opt']].to_latex(index=False,float_format="%.2f"))

,vertice,bb,bs,gap,time,nodes,opt,tk,tmax
0,0,143.0,143.0,0.0,11.03,13.0,1.0,NaN,NaN
1,1,124.0,124.0,0.0,4.85,1.0,1.0,NaN,NaN
2,2,127.0,127.0,0.0,2.01,1.0,1.0,NaN,NaN
3,3,124.0,124.0,0.0,9.56,15.0,1.0,NaN,NaN
4,4,124.0,124.0,0.0,14.15,11.0,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
196,196,1.0,1.0,0.0,0.00,0.0,1.0,NaN,NaN
197,197,1.0,1.0,0.0,0.00,0.0,1.0,NaN,NaN
198,198,1.0,1.0,0.0,0.00,0.0,1.0,NaN,NaN
199,199,1.0,1.0,0.0,0.00,0.0,1.0,NaN,NaN
200,mip_fminmisetn0_200_1,5092.0,5092.0,0.0,569.68,597.0,200.0,149.0,26.93

In [8]:
form_="fminmisetn1"
dim_=200
id_=1

file=f"../result/{inst_}/{method_}/{method_}_{form_}_{inst_}_{dim_}_{id_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','bs','gap','time','nodes','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}_{form_}_{dim_}_{id_}",
    'bb':table["bb"].sum(),
    'bs':table["bs"].sum(),
    'gap':table['gap'].sum(),
    'time':table['time'].sum(),
    'nodes':table['nodes'].sum(),
    'opt':table['opt'].sum(),
    "tk":table["bs"].max(),
    "tmax":table["time"].max()
    },index=[f"{form_}_{inst_}_{dim_}_{id_}"]
)

table = pd.concat([table, resume], ignore_index=True)
mip_internet_fminmisetn1_200_1 = table
mip_internet_fminmisetn1_200_1

#print(mip_internet_fminmisetn1_200_1[['vertice','bb','bs','gap','time','nodes','opt']].to_latex(index=False,float_format="%.2f"))

,vertice,bb,bs,gap,time,nodes,opt,tk,tmax
0,0,143.0,143.0,0.0,11.05,13.0,1.0,NaN,NaN
1,1,124.0,124.0,0.0,6.80,1.0,1.0,NaN,NaN
2,2,127.0,127.0,0.0,2.51,1.0,1.0,NaN,NaN
3,3,124.0,124.0,0.0,13.74,13.0,1.0,NaN,NaN
4,4,124.0,124.0,0.0,17.84,15.0,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
196,196,1.0,1.0,0.0,0.00,0.0,1.0,NaN,NaN
197,197,1.0,1.0,0.0,0.00,0.0,1.0,NaN,NaN
198,198,1.0,1.0,0.0,0.00,0.0,1.0,NaN,NaN
199,199,1.0,1.0,0.0,0.00,0.0,1.0,NaN,NaN
200,mip_fminmisetn1_200_1,5092.0,5092.0,0.0,564.54,574.0,200.0,149.0,23.85

In [9]:
result_200_1 = pd.DataFrame()

result_200_1 = pd.merge(
    mip_internet_fmin_200_1, mip_internet_fmax_200_1,
    on=['vertice'], 
    suffixes=("", "_fmax"),
    )

result_200_1 = pd.merge(
    result_200_1, mip_internet_fminmisetn0_200_1,
    on=['vertice'], 
    suffixes=("", "_fminmisetn0"),
    )

result_200_1 = pd.merge(
    result_200_1, mip_internet_fmaxmisetn0_200_1,
    on=['vertice'], 
    suffixes=("", "_fmaxmisetn0"),
    )

result_200_1 = pd.merge(
    result_200_1, mip_internet_fminmiset_200_1,
    on=['vertice'], 
    suffixes=("", "_fminmiset"),
    )

result_200_1 = pd.merge(
    result_200_1, mip_internet_fminmisetn1_200_1,
    on=['vertice'], 
    suffixes=("", "_fminmisetn1"),
    )

result_200_1[[
    'vertice',
    'bs','gap','time','opt','tk','tmax',
    'bs_fmax','gap_fmax','time_fmax','opt_fmax','tk_fmax','tmax_fmax',
    'bs_fminmisetn0','gap_fminmisetn0','time_fminmisetn0','opt_fminmisetn0','tk_fminmisetn0','tmax_fminmisetn0',
    'bs_fmaxmisetn0','gap_fmaxmisetn0','time_fmaxmisetn0','opt_fmaxmisetn0','tk_fmaxmisetn0','tmax_fmaxmisetn0',
    'bs_fminmiset','gap_fminmiset','time_fminmiset','opt_fminmiset','tk_fminmiset','tmax_fminmiset',
    'bs_fminmisetn1','gap_fminmisetn1','time_fminmisetn1','opt_fminmisetn1','tk_fminmisetn1','tmax_fminmisetn1'
    ]]

,vertice,bs,gap,time,opt,tk,tmax,bs_fmax,gap_fmax,time_fmax,...,time_fminmiset,opt_fminmiset,tk_fminmiset,tmax_fminmiset,bs_fminmisetn1,gap_fminmisetn1,time_fminmisetn1,opt_fminmisetn1,tk_fminmisetn1,tmax_fminmisetn1
0,0,143.0,0.0,8.04,1.0,NaN,NaN,143.0,0.0,11.51,...,0.03,1.0,NaN,NaN,143.0,0.0,11.05,1.0,NaN,NaN
1,1,124.0,0.0,8.00,1.0,NaN,NaN,124.0,0.0,6.32,...,0.05,1.0,NaN,NaN,124.0,0.0,6.80,1.0,NaN,NaN
2,2,127.0,0.0,3.02,1.0,NaN,NaN,127.0,0.0,3.50,...,0.04,1.0,NaN,NaN,127.0,0.0,2.51,1.0,NaN,NaN
3,3,124.0,0.0,20.57,1.0,NaN,NaN,124.0,0.0,16.25,...,0.05,1.0,NaN,NaN,124.0,0.0,13.74,1.0,NaN,NaN
4,4,124.0,0.0,13.44,1.0,NaN,NaN,124.0,0.0,14.75,...,0.04,1.0,NaN,NaN,124.0,0.0,17.84,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,195,1.0,0.0,0.00,1.0,NaN,NaN,1.0,0.0,0.00,...,0.00,1.0,NaN,NaN,1.0,0.0,0.00,1.0,NaN,NaN
196,196,1.0,0.0,0.00,1.0,NaN,NaN,1.0,0.0,0.00,...,0.00,1.0,NaN,NaN,1.0,0.0,0.00,1.0,NaN,NaN
197,197,1.0,0.0,0.00,1.0,NaN,NaN,1.0,0.0,0.00,...,0.00,1.0,NaN,NaN,1.0,0.0,0.00,1.0,NaN,NaN
198,198,1.0,0.0,0.00,1.0,NaN,NaN,1.0,0.0,0.00,...,0.00,1.0,NaN,NaN,1.0,0.0,0.00,1.0,NaN,NaN
199,199,1.0,0.0,0.00,1.0,NaN,NaN,1.0,0.0,0.00,...,0.00,1.0,NaN,NaN,1.0,0.0,0.00,1.0,NaN,NaN

In [10]:
print(
result_200_1[[
    'vertice',
    'bs','gap','time','opt','tk','tmax',
    'bs_fmax','gap_fmax','time_fmax','opt_fmax','tk_fmax','tmax_fmax',
    'bs_fminmisetn0','gap_fminmisetn0','time_fminmisetn0','opt_fminmisetn0','tk_fminmisetn0','tmax_fminmisetn0',
    'bs_fmaxmisetn0','gap_fmaxmisetn0','time_fmaxmisetn0','opt_fmaxmisetn0','tk_fmaxmisetn0','tmax_fmaxmisetn0',
    'bs_fminmiset','gap_fminmiset','time_fminmiset','opt_fminmiset','tk_fminmiset','tmax_fminmiset',
    'bs_fminmisetn1','gap_fminmisetn1','time_fminmisetn1','opt_fminmisetn1','tk_fminmisetn1','tmax_fminmisetn1'
    ]].to_latex(index=False,float_format="%.1f")
    )

\begin{tabular}{lrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr}
\toprule
vertice & bs & gap & time & opt & tk & tmax & bs_fmax & gap_fmax & time_fmax & opt_fmax & tk_fmax & tmax_fmax & bs_fminmisetn0 & gap_fminmisetn0 & time_fminmisetn0 & opt_fminmisetn0 & tk_fminmisetn0 & tmax_fminmisetn0 & bs_fmaxmisetn0 & gap_fmaxmisetn0 & time_fmaxmisetn0 & opt_fmaxmisetn0 & tk_fmaxmisetn0 & tmax_fmaxmisetn0 & bs_fminmiset & gap_fminmiset & time_fminmiset & opt_fminmiset & tk_fminmiset & tmax_fminmiset & bs_fminmisetn1 & gap_fminmisetn1 & time_fminmisetn1 & opt_fminmisetn1 & tk_fminmisetn1 & tmax_fminmisetn1 \\
\midrule
0 & 143.0 & 0.0 & 8.0 & 1.0 & NaN & NaN & 143.0 & 0.0 & 11.5 & 1.0 & NaN & NaN & 143.0 & 0.0 & 11.0 & 1.0 & NaN & NaN & 143.0 & 0.0 & 8.5 & 1.0 & NaN & NaN & 110.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 143.0 & 0.0 & 11.1 & 1.0 & NaN & NaN \\
1 & 124.0 & 0.0 & 8.0 & 1.0 & NaN & NaN & 124.0 & 0.0 & 6.3 & 1.0 & NaN & NaN & 124.0 & 0.0 & 4.8 & 1.0 & NaN & NaN & 124.0 & 0.0 & 4.7 & 1.0 & NaN & NaN & 104.0 & 0.0 & 0.1 & 1.0 & NaN & NaN & 124.0 & 0.0 & 6.8 & 1.0 & NaN & NaN \\
2 & 127.0 & 0.0 & 3.0 & 1.0 & NaN & NaN & 127.0 & 0.0 & 3.5 & 1.0 & NaN & NaN & 127.0 & 0.0 & 2.0 & 1.0 & NaN & NaN & 127.0 & 0.0 & 2.3 & 1.0 & NaN & NaN & 106.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 127.0 & 0.0 & 2.5 & 1.0 & NaN & NaN \\
3 & 124.0 & 0.0 & 20.6 & 1.0 & NaN & NaN & 124.0 & 0.0 & 16.2 & 1.0 & NaN & NaN & 124.0 & 0.0 & 9.6 & 1.0 & NaN & NaN & 124.0 & 0.0 & 10.5 & 1.0 & NaN & NaN & 91.0 & 0.0 & 0.1 & 1.0 & NaN & NaN & 124.0 & 0.0 & 13.7 & 1.0 & NaN & NaN \\
4 & 124.0 & 0.0 & 13.4 & 1.0 & NaN & NaN & 124.0 & 0.0 & 14.8 & 1.0 & NaN & NaN & 124.0 & 0.0 & 14.2 & 1.0 & NaN & NaN & 124.0 & 0.0 & 14.9 & 1.0 & NaN & NaN & 84.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 124.0 & 0.0 & 17.8 & 1.0 & NaN & NaN \\
5 & 16.0 & 0.0 & 0.3 & 1.0 & NaN & NaN & 16.0 & 0.0 & 0.2 & 1.0 & NaN & NaN & 16.0 & 0.0 & 0.2 & 1.0 & NaN & NaN & 16.0 & 0.0 & 0.2 & 1.0 & NaN & NaN & 16.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 16.0 & 0.0 & 0.2 & 1.0 & NaN & NaN \\
6 & 124.0 & 0.0 & 14.3 & 1.0 & NaN & NaN & 124.0 & 0.0 & 11.0 & 1.0 & NaN & NaN & 124.0 & 0.0 & 12.1 & 1.0 & NaN & NaN & 124.0 & 0.0 & 14.8 & 1.0 & NaN & NaN & 89.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 124.0 & 0.0 & 15.3 & 1.0 & NaN & NaN \\
7 & 124.0 & 0.0 & 14.8 & 1.0 & NaN & NaN & 124.0 & 0.0 & 12.3 & 1.0 & NaN & NaN & 124.0 & 0.0 & 9.2 & 1.0 & NaN & NaN & 124.0 & 0.0 & 10.6 & 1.0 & NaN & NaN & 92.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 124.0 & 0.0 & 9.6 & 1.0 & NaN & NaN \\
8 & 125.0 & 0.0 & 3.7 & 1.0 & NaN & NaN & 125.0 & 0.0 & 3.7 & 1.0 & NaN & NaN & 125.0 & 0.0 & 2.5 & 1.0 & NaN & NaN & 125.0 & 0.0 & 2.4 & 1.0 & NaN & NaN & 88.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 125.0 & 0.0 & 2.2 & 1.0 & NaN & NaN \\
9 & 124.0 & 0.0 & 11.9 & 1.0 & NaN & NaN & 124.0 & 0.0 & 12.3 & 1.0 & NaN & NaN & 124.0 & 0.0 & 12.2 & 1.0 & NaN & NaN & 124.0 & 0.0 & 11.2 & 1.0 & NaN & NaN & 93.0 & 0.0 & 0.1 & 1.0 & NaN & NaN & 124.0 & 0.0 & 13.2 & 1.0 & NaN & NaN \\
10 & 149.0 & 0.0 & 9.5 & 1.0 & NaN & NaN & 149.0 & 0.0 & 10.2 & 1.0 & NaN & NaN & 149.0 & 0.0 & 11.8 & 1.0 & NaN & NaN & 149.0 & 0.0 & 7.1 & 1.0 & NaN & NaN & 93.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 149.0 & 0.0 & 11.1 & 1.0 & NaN & NaN \\
11 & 124.0 & 0.0 & 11.3 & 1.0 & NaN & NaN & 124.0 & 0.0 & 10.7 & 1.0 & NaN & NaN & 124.0 & 0.0 & 8.4 & 1.0 & NaN & NaN & 124.0 & 0.0 & 10.4 & 1.0 & NaN & NaN & 86.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 124.0 & 0.0 & 7.5 & 1.0 & NaN & NaN \\
12 & 124.0 & 0.0 & 19.9 & 1.0 & NaN & NaN & 124.0 & 0.0 & 19.6 & 1.0 & NaN & NaN & 124.0 & 0.0 & 15.8 & 1.0 & NaN & NaN & 124.0 & 0.0 & 17.2 & 1.0 & NaN & NaN & 93.0 & 0.0 & 0.1 & 1.0 & NaN & NaN & 124.0 & 0.0 & 17.7 & 1.0 & NaN & NaN \\
13 & 124.0 & 0.0 & 17.9 & 1.0 & NaN & NaN & 124.0 & 0.0 & 20.1 & 1.0 & NaN & NaN & 124.0 & 0.0 & 17.2 & 1.0 & NaN & NaN & 124.0 & 0.0 & 15.6 & 1.0 & NaN & NaN & 89.0 & 0.0 & 0.1 & 1.0 & NaN & NaN & 124.0 & 0.0 & 16.2 & 1.0 & NaN & NaN \\
14 & 124.0 & 0.0 & 17.4 & 1.0 & NaN & NaN & 124.0 & 0.0 & 20.3 & 1.0 & NaN & NaN & 124.0 & 0.0 & 13.6 & 1.0 & NaN & NaN & 124.0 & 0.0 & 13.2 & 1.0 & NaN & NaN & 94.0 & 0.0 & 0.1 & 1.0 & NaN & NaN & 124.0 & 0.0 & 19.4 & 1.0 & NaN & NaN \\
15 & 124.0 & 0.0 & 11.8 & 1.0 & NaN & NaN & 124.0 & 0.0 & 9.2 & 1.0 & NaN & NaN & 124.0 & 0.0 & 12.1 & 1.0 & NaN & NaN & 124.0 & 0.0 & 10.0 & 1.0 & NaN & NaN & 97.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 124.0 & 0.0 & 10.7 & 1.0 & NaN & NaN \\
16 & 124.0 & 0.0 & 19.9 & 1.0 & NaN & NaN & 124.0 & 0.0 & 18.8 & 1.0 & NaN & NaN & 124.0 & 0.0 & 16.6 & 1.0 & NaN & NaN & 124.0 & 0.0 & 17.6 & 1.0 & NaN & NaN & 94.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 124.0 & 0.0 & 17.8 & 1.0 & NaN & NaN \\
17 & 124.0 & 0.0 & 15.0 & 1.0 & NaN & NaN & 124.0 & 0.0 & 14.0 & 1.0 & NaN & NaN & 124.0 & 0.0 & 10.4 & 1.0 & NaN & NaN & 124.0 & 0.0 & 12.8 & 1.0 & NaN & NaN & 96.0 & 0.0 & 0.1 & 1.0 & NaN & NaN & 124.0 & 0.0 & 13.8 & 1.0 & NaN & NaN \\
18 & 124.0 & 0.0 & 23.7 & 1.0 & NaN & NaN & 124.0 & 0.0 & 24.7 & 1.0 & NaN & NaN & 124.0 & 0.0 & 26.9 & 1.0 & NaN & NaN & 124.0 & 0.0 & 26.6 & 1.0 & NaN & NaN & 94.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 124.0 & 0.0 & 15.1 & 1.0 & NaN & NaN \\
19 & 124.0 & 0.0 & 14.0 & 1.0 & NaN & NaN & 124.0 & 0.0 & 15.4 & 1.0 & NaN & NaN & 124.0 & 0.0 & 13.9 & 1.0 & NaN & NaN & 124.0 & 0.0 & 12.5 & 1.0 & NaN & NaN & 82.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 124.0 & 0.0 & 16.0 & 1.0 & NaN & NaN \\
20 & 125.0 & 0.0 & 17.8 & 1.0 & NaN & NaN & 125.0 & 0.0 & 18.7 & 1.0 & NaN & NaN & 125.0 & 0.0 & 14.1 & 1.0 & NaN & NaN & 125.0 & 0.0 & 16.5 & 1.0 & NaN & NaN & 80.0 & 0.0 & 0.1 & 1.0 & NaN & NaN & 125.0 & 0.0 & 14.8 & 1.0 & NaN & NaN \\
21 & 124.0 & 0.0 & 16.4 & 1.0 & NaN & NaN & 124.0 & 0.0 & 18.5 & 1.0 & NaN & NaN & 124.0 & 0.0 & 17.6 & 1.0 & NaN & NaN & 124.0 & 0.0 & 17.2 & 1.0 & NaN & NaN & 59.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 124.0 & 0.0 & 14.2 & 1.0 & NaN & NaN \\
22 & 124.0 & 0.0 & 10.4 & 1.0 & NaN & NaN & 124.0 & 0.0 & 10.5 & 1.0 & NaN & NaN & 124.0 & 0.0 & 10.9 & 1.0 & NaN & NaN & 124.0 & 0.0 & 10.3 & 1.0 & NaN & NaN & 71.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 124.0 & 0.0 & 11.0 & 1.0 & NaN & NaN \\
23 & 124.0 & 0.0 & 10.7 & 1.0 & NaN & NaN & 124.0 & 0.0 & 14.2 & 1.0 & NaN & NaN & 124.0 & 0.0 & 19.4 & 1.0 & NaN & NaN & 124.0 & 0.0 & 14.4 & 1.0 & NaN & NaN & 94.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 124.0 & 0.0 & 12.6 & 1.0 & NaN & NaN \\
24 & 124.0 & 0.0 & 13.5 & 1.0 & NaN & NaN & 124.0 & 0.0 & 14.8 & 1.0 & NaN & NaN & 124.0 & 0.0 & 12.4 & 1.0 & NaN & NaN & 124.0 & 0.0 & 16.1 & 1.0 & NaN & NaN & 81.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 124.0 & 0.0 & 14.0 & 1.0 & NaN & NaN \\
25 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
26 & 124.0 & 0.0 & 16.4 & 1.0 & NaN & NaN & 124.0 & 0.0 & 14.2 & 1.0 & NaN & NaN & 124.0 & 0.0 & 11.6 & 1.0 & NaN & NaN & 124.0 & 0.0 & 10.8 & 1.0 & NaN & NaN & 94.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 124.0 & 0.0 & 19.2 & 1.0 & NaN & NaN \\
27 & 124.0 & 0.0 & 14.2 & 1.0 & NaN & NaN & 124.0 & 0.0 & 16.5 & 1.0 & NaN & NaN & 124.0 & 0.0 & 25.8 & 1.0 & NaN & NaN & 124.0 & 0.0 & 14.6 & 1.0 & NaN & NaN & 105.0 & 0.0 & 0.1 & 1.0 & NaN & NaN & 124.0 & 0.0 & 16.1 & 1.0 & NaN & NaN \\
28 & 124.0 & 0.0 & 15.6 & 1.0 & NaN & NaN & 124.0 & 0.0 & 15.9 & 1.0 & NaN & NaN & 124.0 & 0.0 & 14.5 & 1.0 & NaN & NaN & 124.0 & 0.0 & 12.6 & 1.0 & NaN & NaN & 55.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 124.0 & 0.0 & 16.2 & 1.0 & NaN & NaN \\
29 & 125.0 & 0.0 & 18.3 & 1.0 & NaN & NaN & 125.0 & 0.0 & 20.7 & 1.0 & NaN & NaN & 125.0 & 0.0 & 21.7 & 1.0 & NaN & NaN & 125.0 & 0.0 & 14.0 & 1.0 & NaN & NaN & 30.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 125.0 & 0.0 & 17.2 & 1.0 & NaN & NaN \\
30 & 124.0 & 0.0 & 13.8 & 1.0 & NaN & NaN & 124.0 & 0.0 & 14.7 & 1.0 & NaN & NaN & 124.0 & 0.0 & 17.6 & 1.0 & NaN & NaN & 124.0 & 0.0 & 17.5 & 1.0 & NaN & NaN & 92.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 124.0 & 0.0 & 17.5 & 1.0 & NaN & NaN \\
31 & 124.0 & 0.0 & 12.2 & 1.0 & NaN & NaN & 124.0 & 0.0 & 12.0 & 1.0 & NaN & NaN & 124.0 & 0.0 & 14.7 & 1.0 & NaN & NaN & 124.0 & 0.0 & 21.5 & 1.0 & NaN & NaN & 94.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 124.0 & 0.0 & 14.4 & 1.0 & NaN & NaN \\
32 & 124.0 & 0.0 & 24.8 & 1.0 & NaN & NaN & 124.0 & 0.0 & 24.6 & 1.0 & NaN & NaN & 124.0 & 0.0 & 24.2 & 1.0 & NaN & NaN & 124.0 & 0.0 & 16.5 & 1.0 & NaN & NaN & 85.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 124.0 & 0.0 & 23.9 & 1.0 & NaN & NaN \\
33 & 124.0 & 0.0 & 15.8 & 1.0 & NaN & NaN & 124.0 & 0.0 & 18.5 & 1.0 & NaN & NaN & 124.0 & 0.0 & 14.3 & 1.0 & NaN & NaN & 124.0 & 0.0 & 16.0 & 1.0 & NaN & NaN & 89.0 & 0.0 & 0.1 & 1.0 & NaN & NaN & 124.0 & 0.0 & 15.0 & 1.0 & NaN & NaN \\
34 & 124.0 & 0.0 & 15.2 & 1.0 & NaN & NaN & 124.0 & 0.0 & 15.0 & 1.0 & NaN & NaN & 124.0 & 0.0 & 19.0 & 1.0 & NaN & NaN & 124.0 & 0.0 & 20.3 & 1.0 & NaN & NaN & 89.0 & 0.0 & 0.1 & 1.0 & NaN & NaN & 124.0 & 0.0 & 15.4 & 1.0 & NaN & NaN \\
35 & 16.0 & 0.0 & 0.1 & 1.0 & NaN & NaN & 16.0 & 0.0 & 0.2 & 1.0 & NaN & NaN & 16.0 & 0.0 & 0.2 & 1.0 & NaN & NaN & 16.0 & 0.0 & 0.2 & 1.0 & NaN & NaN & 16.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 16.0 & 0.0 & 0.1 & 1.0 & NaN & NaN \\
36 & 124.0 & 0.0 & 20.3 & 1.0 & NaN & NaN & 124.0 & 0.0 & 19.1 & 1.0 & NaN & NaN & 124.0 & 0.0 & 19.4 & 1.0 & NaN & NaN & 124.0 & 0.0 & 20.4 & 1.0 & NaN & NaN & 76.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 124.0 & 0.0 & 21.5 & 1.0 & NaN & NaN \\
37 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
38 & 124.0 & 0.0 & 22.7 & 1.0 & NaN & NaN & 124.0 & 0.0 & 30.1 & 1.0 & NaN & NaN & 124.0 & 0.0 & 22.0 & 1.0 & NaN & NaN & 124.0 & 0.0 & 16.3 & 1.0 & NaN & NaN & 67.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 124.0 & 0.0 & 18.6 & 1.0 & NaN & NaN \\
39 & 124.0 & 0.0 & 21.2 & 1.0 & NaN & NaN & 124.0 & 0.0 & 15.4 & 1.0 & NaN & NaN & 124.0 & 0.0 & 22.2 & 1.0 & NaN & NaN & 124.0 & 0.0 & 23.5 & 1.0 & NaN & NaN & 90.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 124.0 & 0.0 & 15.8 & 1.0 & NaN & NaN \\
40 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
41 & 124.0 & 0.0 & 15.8 & 1.0 & NaN & NaN & 124.0 & 0.0 & 17.7 & 1.0 & NaN & NaN & 124.0 & 0.0 & 17.8 & 1.0 & NaN & NaN & 124.0 & 0.0 & 17.5 & 1.0 & NaN & NaN & 66.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 124.0 & 0.0 & 16.8 & 1.0 & NaN & NaN \\
42 & 124.0 & 0.0 & 16.1 & 1.0 & NaN & NaN & 124.0 & 0.0 & 16.2 & 1.0 & NaN & NaN & 124.0 & 0.0 & 14.3 & 1.0 & NaN & NaN & 124.0 & 0.0 & 19.0 & 1.0 & NaN & NaN & 23.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 124.0 & 0.0 & 18.5 & 1.0 & NaN & NaN \\
43 & 124.0 & 0.0 & 16.5 & 1.0 & NaN & NaN & 124.0 & 0.0 & 14.6 & 1.0 & NaN & NaN & 124.0 & 0.0 & 11.0 & 1.0 & NaN & NaN & 124.0 & 0.0 & 14.8 & 1.0 & NaN & NaN & 72.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 124.0 & 0.0 & 14.2 & 1.0 & NaN & NaN \\
44 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
45 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
46 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
47 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
48 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
49 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
50 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
51 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
52 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
53 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
54 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
55 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
56 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
57 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
58 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
59 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
60 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
61 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
62 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
63 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
64 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
65 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
66 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
67 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
68 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
69 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
70 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
71 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
72 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
73 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
74 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
75 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
76 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
77 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
78 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
79 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
80 & 16.0 & 0.0 & 0.2 & 1.0 & NaN & NaN & 16.0 & 0.0 & 0.2 & 1.0 & NaN & NaN & 16.0 & 0.0 & 0.2 & 1.0 & NaN & NaN & 16.0 & 0.0 & 0.2 & 1.0 & NaN & NaN & 16.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 16.0 & 0.0 & 0.2 & 1.0 & NaN & NaN \\
81 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
82 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
83 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\

In [11]:
resume_200_1 = pd.DataFrame()
resume_200_1 = pd.concat([resume_200_1, mip_internet_fmin_200_1.loc[200:200]], ignore_index=True)
resume_200_1 = pd.concat([resume_200_1, mip_internet_fmax_200_1.loc[200:200]], ignore_index=True)
resume_200_1 = pd.concat([resume_200_1, mip_internet_fminmisetn0_200_1.loc[200:200]], ignore_index=True)
resume_200_1 = pd.concat([resume_200_1, mip_internet_fmaxmisetn0_200_1.loc[200:200]], ignore_index=True)
resume_200_1 = pd.concat([resume_200_1, mip_internet_fminmiset_200_1.loc[200:200]], ignore_index=True)
resume_200_1 = pd.concat([resume_200_1, mip_internet_fminmisetn1_200_1.loc[200:200]], ignore_index=True)
resume_200_1

,vertice,bb,bs,gap,time,nodes,opt,tk,tmax
0,mip_fmin_200_1,5092.0,5092.0,0.0,586.82,2350.0,200.0,149.0,24.76
1,mip_fmax_200_1,5092.0,5092.0,0.0,597.14,2260.0,200.0,149.0,30.05
2,mip_fminmisetn0_200_1,5092.0,5092.0,0.0,569.68,597.0,200.0,149.0,26.93
3,mip_fmaxmisetn0_200_1,5092.0,5092.0,0.0,553.50,604.0,200.0,149.0,26.62
4,mip_fminmiset_200_1,3493.0,3493.0,0.0,1.50,652.0,200.0,110.0,0.07
5,mip_fminmisetn1_200_1,5092.0,5092.0,0.0,564.54,574.0,200.0,149.0,23.85

In [12]:
print(
resume_200_1[[
    'vertice','bs','gap','time','opt','tk','tmax',
    ]].to_latex(index=False,float_format="%.1f")
)

\begin{tabular}{lrrrrrr}
\toprule
vertice & bs & gap & time & opt & tk & tmax \\
\midrule
mip_fmin_200_1 & 5092.0 & 0.0 & 586.8 & 200.0 & 149.0 & 24.8 \\
mip_fmax_200_1 & 5092.0 & 0.0 & 597.1 & 200.0 & 149.0 & 30.1 \\
mip_fminmisetn0_200_1 & 5092.0 & 0.0 & 569.7 & 200.0 & 149.0 & 26.9 \\
mip_fmaxmisetn0_200_1 & 5092.0 & 0.0 & 553.5 & 200.0 & 149.0 & 26.6 \\
mip_fminmiset_200_1 & 3493.0 & 0.0 & 1.5 & 200.0 & 110.0 & 0.1 \\
mip_fminmisetn1_200_1 & 5092.0 & 0.0 & 564.5 & 200.0 & 149.0 & 23.9 \\
\bottomrule
\end{tabular}