In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
inst_="karate"
method_="lp"
ver_="fmax"

In [3]:
form_="fmaxc0"

file=f"../result/{inst_}/{method_}/{ver_}/{method_}_{form_}_{inst_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','time','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}",
    'bb':table["bb"].sum(),
    'time':table['time'].sum(),
    'opt':table['opt'].sum(),
    'tk':table['bb'].max()
    },index=[f"{inst_}"]
)

table = pd.concat([table, resume], ignore_index=True)
lp_karate_c0 = table
lp_karate_c0

#print(lp_karate_c0[['vertice','bb','time','opt']].to_latex(index=False,float_format="%.2f"))

   vertice     bb  time   opt    tk
0        0   16.5  0.01   1.0   NaN
1        1   11.8  0.00   1.0   NaN
2        2   16.2  0.00   1.0   NaN
3        3    3.0  0.00   1.0   NaN
4        4    2.0  0.00   1.0   NaN
5        5    3.0  0.00   1.0   NaN
6        6    3.0  0.00   1.0   NaN
7        7    1.0  0.00   1.0   NaN
8        8   15.0  0.00   1.0   NaN
9        9   10.3  0.01   1.0   NaN
10      10    2.0  0.00   1.0   NaN
11      11    1.0  0.00   1.0   NaN
12      12    1.0  0.00   1.0   NaN
13      13   15.0  0.00   1.0   NaN
14      14    1.0  0.00   1.0   NaN
15      15    1.0  0.00   1.0   NaN
16      16    1.0  0.00   1.0   NaN
17      17    1.0  0.00   1.0   NaN
18      18    1.0  0.00   1.0   NaN
19      19   14.5  0.00   1.0   NaN
20      20    1.0  0.00   1.0   NaN
21      21    1.0  0.00   1.0   NaN
22      22    1.0  0.00   1.0   NaN
23      23    8.4  0.00   1.0   NaN
24      24    8.6  0.01   1.0   NaN
25      25    8.3  0.01   1.0   NaN
26      26    1.0  0.00   1.0   NaN
27      27   11.5  0.01   1.0   NaN
28      28   10.8  0.00   1.0   NaN
29      29    2.0  0.00   1.0   NaN
30      30    9.7  0.00   1.0   NaN
31      31   15.8  0.00   1.0   NaN
32      32   14.8  0.00   1.0   NaN
33      33   15.0  0.00   1.0   NaN
34      lp  229.2  0.05  34.0  16.5

In [4]:
form_="fmaxc0noclq"

file=f"../result/{inst_}/{method_}/{ver_}/{method_}_{form_}_{inst_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','time','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}",
    'bb':table["bb"].sum(),
    'time':table['time'].sum(),
    'opt':table['opt'].sum(),
    'tk':table['bb'].max()
    },index=[f"{inst_}"]
)

table = pd.concat([table, resume], ignore_index=True)
lp_karate_c0noclq = table
lp_karate_c0noclq

#print(lp_karate_c0noclq[['vertice','bb','time','opt']].to_latex(index=False,float_format="%.2f"))

   vertice     bb  time   opt    tk
0        0   16.5  0.00   1.0   NaN
1        1   11.8  0.00   1.0   NaN
2        2   16.2  0.00   1.0   NaN
3        3    3.0  0.00   1.0   NaN
4        4    2.0  0.00   1.0   NaN
5        5    3.0  0.00   1.0   NaN
6        6    3.0  0.00   1.0   NaN
7        7    1.0  0.00   1.0   NaN
8        8   15.0  0.00   1.0   NaN
9        9   10.3  0.01   1.0   NaN
10      10    2.0  0.00   1.0   NaN
11      11    1.0  0.00   1.0   NaN
12      12    1.0  0.00   1.0   NaN
13      13   15.0  0.00   1.0   NaN
14      14    1.0  0.00   1.0   NaN
15      15    1.0  0.00   1.0   NaN
16      16    1.0  0.00   1.0   NaN
17      17    1.0  0.00   1.0   NaN
18      18    1.0  0.00   1.0   NaN
19      19   14.5  0.00   1.0   NaN
20      20    1.0  0.00   1.0   NaN
21      21    1.0  0.00   1.0   NaN
22      22    1.0  0.00   1.0   NaN
23      23    8.4  0.01   1.0   NaN
24      24    8.6  0.01   1.0   NaN
25      25    8.3  0.00   1.0   NaN
26      26    1.0  0.00   1.0   NaN
27      27   11.5  0.01   1.0   NaN
28      28   10.8  0.01   1.0   NaN
29      29    2.0  0.00   1.0   NaN
30      30    9.7  0.00   1.0   NaN
31      31   15.8  0.00   1.0   NaN
32      32   14.8  0.01   1.0   NaN
33      33   15.0  0.00   1.0   NaN
34      lp  229.2  0.06  34.0  16.5

In [5]:
form_="fmaxc1"

file=f"../result/{inst_}/{method_}/{ver_}/{method_}_{form_}_{inst_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','time','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}",
    'bb':table["bb"].sum(),
    'time':table['time'].sum(),
    'opt':table['opt'].sum(),
    'tk':table['bb'].max()
    },index=[f"{inst_}"]
)

table = pd.concat([table, resume], ignore_index=True)
lp_karate_c1 = table
lp_karate_c1

#print(lp_karate_c1[['vertice','bb','time','opt']].to_latex(index=False,float_format="%.2f"))

   vertice     bb  time   opt    tk
0        0   16.5   0.0   1.0   NaN
1        1   11.8   0.0   1.0   NaN
2        2   16.2   0.0   1.0   NaN
3        3    3.0   0.0   1.0   NaN
4        4    2.0   0.0   1.0   NaN
5        5    3.0   0.0   1.0   NaN
6        6    3.0   0.0   1.0   NaN
7        7    1.0   0.0   1.0   NaN
8        8   15.0   0.0   1.0   NaN
9        9   10.2   0.0   1.0   NaN
10      10    2.0   0.0   1.0   NaN
11      11    1.0   0.0   1.0   NaN
12      12    1.0   0.0   1.0   NaN
13      13   15.0   0.0   1.0   NaN
14      14    1.0   0.0   1.0   NaN
15      15    1.0   0.0   1.0   NaN
16      16    1.0   0.0   1.0   NaN
17      17    1.0   0.0   1.0   NaN
18      18    1.0   0.0   1.0   NaN
19      19   14.5   0.0   1.0   NaN
20      20    1.0   0.0   1.0   NaN
21      21    1.0   0.0   1.0   NaN
22      22    1.0   0.0   1.0   NaN
23      23    8.4   0.0   1.0   NaN
24      24    8.6   0.0   1.0   NaN
25      25    8.3   0.0   1.0   NaN
26      26    1.0   0.0   1.0   NaN
27      27   11.5   0.0   1.0   NaN
28      28   10.8   0.0   1.0   NaN
29      29    2.0   0.0   1.0   NaN
30      30    9.7   0.0   1.0   NaN
31      31   15.8   0.0   1.0   NaN
32      32   14.8   0.0   1.0   NaN
33      33   15.0   0.0   1.0   NaN
34      lp  229.1   0.0  34.0  16.5

In [6]:
form_="fmaxc1noclq"

file=f"../result/{inst_}/{method_}/{ver_}/{method_}_{form_}_{inst_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','time','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}",
    'bb':table["bb"].sum(),
    'time':table['time'].sum(),
    'opt':table['opt'].sum(),
    'tk':table['bb'].max()
    },index=[f"{inst_}"]
)

table = pd.concat([table, resume], ignore_index=True)
lp_karate_c1noclq = table
lp_karate_c1noclq

#print(lp_karate_c1noclq[['vertice','bb','time','opt']].to_latex(index=False,float_format="%.2f"))

   vertice     bb  time   opt    tk
0        0   16.5   0.0   1.0   NaN
1        1   11.8   0.0   1.0   NaN
2        2   16.2   0.0   1.0   NaN
3        3    3.0   0.0   1.0   NaN
4        4    2.0   0.0   1.0   NaN
5        5    3.0   0.0   1.0   NaN
6        6    3.0   0.0   1.0   NaN
7        7    1.0   0.0   1.0   NaN
8        8   15.0   0.0   1.0   NaN
9        9   10.2   0.0   1.0   NaN
10      10    2.0   0.0   1.0   NaN
11      11    1.0   0.0   1.0   NaN
12      12    1.0   0.0   1.0   NaN
13      13   15.0   0.0   1.0   NaN
14      14    1.0   0.0   1.0   NaN
15      15    1.0   0.0   1.0   NaN
16      16    1.0   0.0   1.0   NaN
17      17    1.0   0.0   1.0   NaN
18      18    1.0   0.0   1.0   NaN
19      19   14.5   0.0   1.0   NaN
20      20    1.0   0.0   1.0   NaN
21      21    1.0   0.0   1.0   NaN
22      22    1.0   0.0   1.0   NaN
23      23    8.4   0.0   1.0   NaN
24      24    8.6   0.0   1.0   NaN
25      25    8.3   0.0   1.0   NaN
26      26    1.0   0.0   1.0   NaN
27      27   11.5   0.0   1.0   NaN
28      28   10.8   0.0   1.0   NaN
29      29    2.0   0.0   1.0   NaN
30      30    9.7   0.0   1.0   NaN
31      31   15.8   0.0   1.0   NaN
32      32   14.8   0.0   1.0   NaN
33      33   15.0   0.0   1.0   NaN
34      lp  229.1   0.0  34.0  16.5

In [7]:
form_="fmaxc2"

file=f"../result/{inst_}/{method_}/{ver_}/{method_}_{form_}_{inst_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','time','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}",
    'bb':table["bb"].sum(),
    'time':table['time'].sum(),
    'opt':table['opt'].sum(),
    'tk':table['bb'].max()
    },index=[f"{inst_}"]
)

table = pd.concat([table, resume], ignore_index=True)
lp_karate_c2 = table
lp_karate_c2

#print(lp_karate_c2[['vertice','bb','time','opt']].to_latex(index=False,float_format="%.2f"))

   vertice     bb  time   opt    tk
0        0   16.2   0.0   1.0   NaN
1        1   11.0   0.0   1.0   NaN
2        2   14.2   0.0   1.0   NaN
3        3    3.0   0.0   1.0   NaN
4        4    2.0   0.0   1.0   NaN
5        5    3.0   0.0   1.0   NaN
6        6    3.0   0.0   1.0   NaN
7        7    1.0   0.0   1.0   NaN
8        8   12.5   0.0   1.0   NaN
9        9    9.2   0.0   1.0   NaN
10      10    2.0   0.0   1.0   NaN
11      11    1.0   0.0   1.0   NaN
12      12    1.0   0.0   1.0   NaN
13      13   12.5   0.0   1.0   NaN
14      14    1.0   0.0   1.0   NaN
15      15    1.0   0.0   1.0   NaN
16      16    1.0   0.0   1.0   NaN
17      17    1.0   0.0   1.0   NaN
18      18    1.0   0.0   1.0   NaN
19      19   12.0   0.0   1.0   NaN
20      20    1.0   0.0   1.0   NaN
21      21    1.0   0.0   1.0   NaN
22      22    1.0   0.0   1.0   NaN
23      23    7.6   0.0   1.0   NaN
24      24    7.5   0.0   1.0   NaN
25      25    6.9   0.0   1.0   NaN
26      26    1.0   0.0   1.0   NaN
27      27   10.3   0.0   1.0   NaN
28      28    9.9   0.0   1.0   NaN
29      29    2.0   0.0   1.0   NaN
30      30    8.7   0.0   1.0   NaN
31      31   13.0   0.0   1.0   NaN
32      32   12.0   0.0   1.0   NaN
33      33   12.0   0.0   1.0   NaN
34      lp  202.5   0.0  34.0  16.2

In [8]:
form_="fmaxmisetc2"

file=f"../result/{inst_}/{method_}/{ver_}/{method_}_{form_}_{inst_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','time','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}",
    'bb':table["bb"].sum(),
    'time':table['time'].sum(),
    'opt':table['opt'].sum(),
    'tk':table['bb'].max()
    },index=[f"{inst_}"]
)

table = pd.concat([table, resume], ignore_index=True)
lp_karate_misetc2 = table
lp_karate_misetc2

#print(lp_karate_misetc2[['vertice','bb','time','opt']].to_latex(index=False,float_format="%.2f"))

   vertice     bb  time   opt    tk
0        0   19.6   0.0   1.0   NaN
1        1   12.4   0.0   1.0   NaN
2        2   16.7   0.0   1.0   NaN
3        3    3.0   0.0   1.0   NaN
4        4    2.0   0.0   1.0   NaN
5        5    3.0   0.0   1.0   NaN
6        6    3.0   0.0   1.0   NaN
7        7    1.0   0.0   1.0   NaN
8        8   14.3   0.0   1.0   NaN
9        9    9.8   0.0   1.0   NaN
10      10    2.0   0.0   1.0   NaN
11      11    1.0   0.0   1.0   NaN
12      12    1.0   0.0   1.0   NaN
13      13   14.3   0.0   1.0   NaN
14      14    1.0   0.0   1.0   NaN
15      15    1.0   0.0   1.0   NaN
16      16    1.0   0.0   1.0   NaN
17      17    1.0   0.0   1.0   NaN
18      18    1.0   0.0   1.0   NaN
19      19   13.6   0.0   1.0   NaN
20      20    1.0   0.0   1.0   NaN
21      21    1.0   0.0   1.0   NaN
22      22    1.0   0.0   1.0   NaN
23      23    8.5   0.0   1.0   NaN
24      24    7.7   0.0   1.0   NaN
25      25    6.9   0.0   1.0   NaN
26      26    1.0   0.0   1.0   NaN
27      27   11.0   0.0   1.0   NaN
28      28   10.5   0.0   1.0   NaN
29      29    2.0   0.0   1.0   NaN
30      30    9.3   0.0   1.0   NaN
31      31   15.6   0.0   1.0   NaN
32      32   16.0   0.0   1.0   NaN
33      33   17.0   0.0   1.0   NaN
34      lp  230.2   0.0  34.0  19.6

In [9]:
form_="fmaxmisetc3"

file=f"../result/{inst_}/{method_}/{ver_}/{method_}_{form_}_{inst_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','time','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}",
    'bb':table["bb"].sum(),
    'time':table['time'].sum(),
    'opt':table['opt'].sum(),
    'tk':table['bb'].max()
    },index=[f"{inst_}"]
)

table = pd.concat([table, resume], ignore_index=True)
lp_karate_misetc3 = table
lp_karate_misetc3

#print(lp_karate_misetc3[['vertice','bb','time','opt']].to_latex(index=False,float_format="%.2f"))

   vertice     bb  time   opt    tk
0        0   19.1   0.0   1.0   NaN
1        1   12.4   0.0   1.0   NaN
2        2   16.3   0.0   1.0   NaN
3        3    3.0   0.0   1.0   NaN
4        4    2.0   0.0   1.0   NaN
5        5    3.0   0.0   1.0   NaN
6        6    3.0   0.0   1.0   NaN
7        7    1.0   0.0   1.0   NaN
8        8   14.1   0.0   1.0   NaN
9        9    8.9   0.0   1.0   NaN
10      10    2.0   0.0   1.0   NaN
11      11    1.0   0.0   1.0   NaN
12      12    1.0   0.0   1.0   NaN
13      13   13.9   0.0   1.0   NaN
14      14    1.0   0.0   1.0   NaN
15      15    1.0   0.0   1.0   NaN
16      16    1.0   0.0   1.0   NaN
17      17    1.0   0.0   1.0   NaN
18      18    1.0   0.0   1.0   NaN
19      19   13.3   0.0   1.0   NaN
20      20    1.0   0.0   1.0   NaN
21      21    1.0   0.0   1.0   NaN
22      22    1.0   0.0   1.0   NaN
23      23    7.2   0.0   1.0   NaN
24      24    5.8   0.0   1.0   NaN
25      25    5.2   0.0   1.0   NaN
26      26    1.0   0.0   1.0   NaN
27      27    9.4   0.0   1.0   NaN
28      28    9.4   0.0   1.0   NaN
29      29    2.0   0.0   1.0   NaN
30      30    7.6   0.0   1.0   NaN
31      31   15.0   0.0   1.0   NaN
32      32   15.3   0.0   1.0   NaN
33      33   17.0   0.0   1.0   NaN
34      lp  216.9   0.0  34.0  19.1

In [10]:
form_="fmaxmiset"

file=f"../result/{inst_}/{method_}/{ver_}/{method_}_{form_}_{inst_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','time','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}",
    'bb':table["bb"].sum(),
    'time':table['time'].sum(),
    'opt':table['opt'].sum(),
    'tk':table['bb'].max()
    },index=[f"{inst_}"]
)

table = pd.concat([table, resume], ignore_index=True)
lp_karate_miset = table
lp_karate_miset

#print(lp_karate_miset[['vertice','bb','time','opt']].to_latex(index=False,float_format="%.2f"))

   vertice     bb  time   opt    tk
0        0   16.4   0.0   1.0   NaN
1        1    9.8   0.0   1.0   NaN
2        2   14.6   0.0   1.0   NaN
3        3    3.0   0.0   1.0   NaN
4        4    2.0   0.0   1.0   NaN
5        5    3.0   0.0   1.0   NaN
6        6    3.0   0.0   1.0   NaN
7        7    1.0   0.0   1.0   NaN
8        8   11.5   0.0   1.0   NaN
9        9    7.1   0.0   1.0   NaN
10      10    2.0   0.0   1.0   NaN
11      11    1.0   0.0   1.0   NaN
12      12    1.0   0.0   1.0   NaN
13      13   11.1   0.0   1.0   NaN
14      14    1.0   0.0   1.0   NaN
15      15    1.0   0.0   1.0   NaN
16      16    1.0   0.0   1.0   NaN
17      17    1.0   0.0   1.0   NaN
18      18    1.0   0.0   1.0   NaN
19      19   10.9   0.0   1.0   NaN
20      20    1.0   0.0   1.0   NaN
21      21    1.0   0.0   1.0   NaN
22      22    1.0   0.0   1.0   NaN
23      23    6.8   0.0   1.0   NaN
24      24    3.8   0.0   1.0   NaN
25      25    3.4   0.0   1.0   NaN
26      26    1.0   0.0   1.0   NaN
27      27    7.4   0.0   1.0   NaN
28      28    7.2   0.0   1.0   NaN
29      29    2.0   0.0   1.0   NaN
30      30    6.9   0.0   1.0   NaN
31      31   13.3   0.0   1.0   NaN
32      32   14.9   0.0   1.0   NaN
33      33   16.5   0.0   1.0   NaN
34      lp  188.6   0.0  34.0  16.5

In [11]:
merge_karate = pd.DataFrame()

merge_karate = pd.merge(
    lp_karate_c0, lp_karate_c0noclq,
    on=['vertice'], 
    suffixes=("", "_b"),
    )

merge_karate = pd.merge(
    merge_karate, lp_karate_c1,
    on=['vertice'], 
    suffixes=("", "_c"),
    )

merge_karate = pd.merge(
    merge_karate, lp_karate_c1noclq,
    on=['vertice'], 
    suffixes=("", "_d"),
    )

merge_karate = pd.merge(
    merge_karate, lp_karate_c2,
    on=['vertice'], 
    suffixes=("", "_e"),
    )

merge_karate = pd.merge(
    merge_karate, lp_karate_c2,
    on=['vertice'], 
    suffixes=("", "_e"),
    )

merge_karate = pd.merge(
    merge_karate, lp_karate_misetc2,
    on=['vertice'], 
    suffixes=("", "_f"),
    )

merge_karate = pd.merge(
    merge_karate, lp_karate_misetc3,
    on=['vertice'], 
    suffixes=("", "_g"),
    )

merge_karate = pd.merge(
    merge_karate, lp_karate_miset,
    on=['vertice'], 
    suffixes=("", "_h"),
    )

merge_karate

,vertice,bb,time,opt,tk,bb_b,time_b,opt_b,tk_b,bb_c,...,opt_f,tk_f,bb_g,time_g,opt_g,tk_g,bb_h,time_h,opt_h,tk_h
0,0,16.5,0.01,1.0,NaN,16.5,0.00,1.0,NaN,16.5,...,1.0,NaN,19.1,0.0,1.0,NaN,16.4,0.0,1.0,NaN
1,1,11.8,0.00,1.0,NaN,11.8,0.00,1.0,NaN,11.8,...,1.0,NaN,12.4,0.0,1.0,NaN,9.8,0.0,1.0,NaN
2,2,16.2,0.00,1.0,NaN,16.2,0.00,1.0,NaN,16.2,...,1.0,NaN,16.3,0.0,1.0,NaN,14.6,0.0,1.0,NaN
3,3,3.0,0.00,1.0,NaN,3.0,0.00,1.0,NaN,3.0,...,1.0,NaN,3.0,0.0,1.0,NaN,3.0,0.0,1.0,NaN
4,4,2.0,0.00,1.0,NaN,2.0,0.00,1.0,NaN,2.0,...,1.0,NaN,2.0,0.0,1.0,NaN,2.0,0.0,1.0,NaN
5,5,3.0,0.00,1.0,NaN,3.0,0.00,1.0,NaN,3.0,...,1.0,NaN,3.0,0.0,1.0,NaN,3.0,0.0,1.0,NaN
6,6,3.0,0.00,1.0,NaN,3.0,0.00,1.0,NaN,3.0,...,1.0,NaN,3.0,0.0,1.0,NaN,3.0,0.0,1.0,NaN
7,7,1.0,0.00,1.0,NaN,1.0,0.00,1.0,NaN,1.0,...,1.0,NaN,1.0,0.0,1.0,NaN,1.0,0.0,1.0,NaN
8,8,15.0,0.00,1.0,NaN,15.0,0.00,1.0,NaN,15.0,...,1.0,NaN,14.1,0.0,1.0,NaN,11.5,0.0,1.0,NaN
9,9,10.3,0.01,1.0,NaN,10.3,0.01,1.0,NaN,10.2,...,1.0,NaN,8.9,0.0,1.0,NaN,7.1,0.0,1.0,NaN
10,10,2.0,0.00,1.0,NaN,2.0,0.00,1.0,NaN,2.0,...,1.0,NaN,2.0,0.0,1.0,NaN,2.0,0.0,1.0,NaN
11,11,1.0,0.00,1.0,NaN,1.0,0.00,1.0,NaN,1.0,...,1.0,NaN,1.0,0.0,1.0,NaN,1.0,0.0,1.0,NaN
12,12,1.0,0.00,1.0,NaN,1.0,0.00,1.0,NaN,1.0,...,1.0,NaN,1.0,0.0,1.0,NaN,1.0,0.0,1.0,NaN
13,13,15.0,0.00,1.0,NaN,15.0,0.00,1.0,NaN,15.0,...,1.0,NaN,13.9,0.0,1.0,NaN,11.1,0.0,1.0,NaN
14,14,1.0,0.00,1.0,NaN,1.0,0.00,1.0,NaN,1.0,...,1.0,NaN,1.0,0.0,1.0,NaN,1.0,0.0,1.0,NaN
15,15,1.0,0.00,1.0,NaN,1.0,0.00,1.0,NaN,1.0,...,1.0,NaN,1.0,0.0,1.0,NaN,1.0,0.0,1.0,NaN
16,16,1.0,0.00,1.0,NaN,1.0,0.00,1.0,NaN,1.0,...,1.0,NaN,1.0,0.0,1.0,NaN,1.0,0.0,1.0,NaN
17,17,1.0,0.00,1.0,NaN,1.0,0.00,1.0,NaN,1.0,...,1.0,NaN,1.0,0.0,1.0,NaN,1.0,0.0,1.0,NaN
18,18,1.0,0.00,1.0,NaN,1.0,0.00,1.0,NaN,1.0,...,1.0,NaN,1.0,0.0,1.0,NaN,1.0,0.0,1.0,NaN
19,19,14.5,0.00,1.0,NaN,14.5,0.00,1.0,NaN,14.5,...,1.0,NaN,13.3,0.0,1.0,NaN,10.9,0.0,1.0,NaN
20,20,1.0,0.00,1.0,NaN,1.0,0.00,1.0,NaN,1.0,...,1.0,NaN,1.0,0.0,1.0,NaN,1.0,0.0,1.0,NaN
21,21,1.0,0.00,1.0,NaN,1.0,0.00,1.0,NaN,1.0,...,1.0,NaN,1.0,0.0,1.0,NaN,1.0,0.0,1.0,NaN
22,22,1.0,0.00,1.0,NaN,1.0,0.00,1.0,NaN,1.0,...,1.0,NaN,1.0,0.0,1.0,NaN,1.0,0.0,1.0,NaN
23,23,8.4,0.00,1.0,NaN,8.4,0.01,1.0,NaN,8.4,...,1.0,NaN,7.2,0.0,1.0,NaN,6.8,0.0,1.0,NaN
24,24,8.6,0.01,1.0,NaN,8.6,0.01,1.0,NaN,8.6,...,1.0,NaN,5.8,0.0,1.0,NaN,3.8,0.0,1.0,NaN
25,25,8.3,0.01,1.0,NaN,8.3,0.00,1.0,NaN,8.3,...,1.0,NaN,5.2,0.0,1.0,NaN,3.4,0.0,1.0,NaN
26,26,1.0,0.00,1.0,NaN,1.0,0.00,1.0,NaN,1.0,...,1.0,NaN,1.0,0.0,1.0,NaN,1.0,0.0,1.0,NaN
27,27,11.5,0.01,1.0,NaN,11.5,0.01,1.0,NaN,11.5,...,1.0,NaN,9.4,0.0,1.0,NaN,7.4,0.0,1.0,NaN
28,28,10.8,0.00,1.0,NaN,10.8,0.01,1.0,NaN,10.8,...,1.0,NaN,9.4,0.0,1.0,NaN,7.2,0.0,1.0,NaN
29,29,2.0,0.00,1.0,NaN,2.0,0.00,1.0,NaN,2.0,...,1.0,NaN,2.0,0.0,1.0,NaN,2.0,0.0,1.0,NaN
30,30,9.7,0.00,1.0,NaN,9.7,0.00,1.0,NaN,9.7,...,1.0,NaN,7.6,0.0,1.0,NaN,6.9,0.0,1.0,NaN
31,31,15.8,0.00,1.0,NaN,15.8,0.00,1.0,NaN,15.8,...,1.0,NaN,15.0,0.0,1.0,NaN,13.3,0.0,1.0,NaN
32,32,14.8,0.00,1.0,NaN,14.8,0.01,1.0,NaN,14.8,...,1.0,NaN,15.3,0.0,1.0,NaN,14.9,0.0,1.0,NaN
33,33,15.0,0.00,1.0,NaN,15.0,0.00,1.0,NaN,15.0,...,1.0,NaN,17.0,0.0,1.0,NaN,16.5,0.0,1.0,NaN
34,lp,229.2,0.05,34.0,16.5,229.2,0.06,34.0,16.5,229.1,...,34.0,19.6,216.9,0.0,34.0,19.1,188.6,0.0,34.0,16.5

In [12]:
merge_karate[[
    'vertice',
    'bb',#'tk',
    'bb_b',#'tk_b',
    'bb_c',#'tk_c',
    'bb_d',#'tk_d',
    'bb_e',#'tk_e',
    'bb_f',#'tk_f',
    'bb_g',#'tk_g',
    'bb_h',#'tk_h',
    ]]

   vertice     bb   bb_b   bb_c   bb_d   bb_e   bb_e   bb_f   bb_g   bb_h
0        0   16.5   16.5   16.5   16.5   16.2   16.2   19.6   19.1   16.4
1        1   11.8   11.8   11.8   11.8   11.0   11.0   12.4   12.4    9.8
2        2   16.2   16.2   16.2   16.2   14.2   14.2   16.7   16.3   14.6
3        3    3.0    3.0    3.0    3.0    3.0    3.0    3.0    3.0    3.0
4        4    2.0    2.0    2.0    2.0    2.0    2.0    2.0    2.0    2.0
5        5    3.0    3.0    3.0    3.0    3.0    3.0    3.0    3.0    3.0
6        6    3.0    3.0    3.0    3.0    3.0    3.0    3.0    3.0    3.0
7        7    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0
8        8   15.0   15.0   15.0   15.0   12.5   12.5   14.3   14.1   11.5
9        9   10.3   10.3   10.2   10.2    9.2    9.2    9.8    8.9    7.1
10      10    2.0    2.0    2.0    2.0    2.0    2.0    2.0    2.0    2.0
11      11    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0
12      12    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0
13      13   15.0   15.0   15.0   15.0   12.5   12.5   14.3   13.9   11.1
14      14    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0
15      15    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0
16      16    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0
17      17    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0
18      18    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0
19      19   14.5   14.5   14.5   14.5   12.0   12.0   13.6   13.3   10.9
20      20    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0
21      21    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0
22      22    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0
23      23    8.4    8.4    8.4    8.4    7.6    7.6    8.5    7.2    6.8
24      24    8.6    8.6    8.6    8.6    7.5    7.5    7.7    5.8    3.8
25      25    8.3    8.3    8.3    8.3    6.9    6.9    6.9    5.2    3.4
26      26    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0
27      27   11.5   11.5   11.5   11.5   10.3   10.3   11.0    9.4    7.4
28      28   10.8   10.8   10.8   10.8    9.9    9.9   10.5    9.4    7.2
29      29    2.0    2.0    2.0    2.0    2.0    2.0    2.0    2.0    2.0
30      30    9.7    9.7    9.7    9.7    8.7    8.7    9.3    7.6    6.9
31      31   15.8   15.8   15.8   15.8   13.0   13.0   15.6   15.0   13.3
32      32   14.8   14.8   14.8   14.8   12.0   12.0   16.0   15.3   14.9
33      33   15.0   15.0   15.0   15.0   12.0   12.0   17.0   17.0   16.5
34      lp  229.2  229.2  229.1  229.1  202.5  202.5  230.2  216.9  188.6

In [13]:
with open('../result/fmax_karate_lp.tex', 'w') as tf:
     tf.write(
          merge_karate[[
               'vertice',
               'bb',#'tk',
               'bb_b',#'tk_b',
               'bb_c',#'tk_c',
               'bb_d',#'tk_d',
               'bb_e',#'tk_e',
               'bb_f',#'tk_f',
               'bb_f',#'tk_g',
               'bb_h',#'tk_h',
               ]].to_latex(index=False,float_format="%.1f")
)