In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
inst_="internet_graph"
method_="mip"

In [7]:
form_="fminc2"
dim_=200
id_=1

file=f"../result/{inst_}/{method_}/{method_}_{form_}_{inst_}_{dim_}_{id_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','bs','gap','time','nodes','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}_{form_}_{dim_}_{id_}",
    'bb':table["bb"].sum(),
    'bs':table["bs"].sum(),
    'gap':table['gap'].sum(),
    'time':table['time'].sum(),
    'nodes':table['nodes'].sum(),
    'opt':table['opt'].sum(),
    "tk":table["bs"].max(),
    "tmax":table["time"].max()
    },index=[f"{form_}_{inst_}_{dim_}_{id_}"]
)

table = pd.concat([table, resume], ignore_index=True)
mip_internet_fminc2_200_1 = table
mip_internet_fminc2_200_1

#print(mip_internet_fmin_200_1[['vertice','bb','bs','gap','time','nodes','opt']].to_latex(index=False,float_format="%.2f"))

,vertice,bb,bs,gap,time,nodes,opt,tk,tmax
0,0,143.0,143.0,0.0,7.78,65.0,1.0,NaN,NaN
1,1,124.0,124.0,0.0,7.83,1.0,1.0,NaN,NaN
2,2,127.0,127.0,0.0,3.09,1.0,1.0,NaN,NaN
3,3,124.0,124.0,0.0,19.67,21.0,1.0,NaN,NaN
4,4,124.0,124.0,0.0,11.93,67.0,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
196,196,1.0,1.0,0.0,0.00,0.0,1.0,NaN,NaN
197,197,1.0,1.0,0.0,0.00,0.0,1.0,NaN,NaN
198,198,1.0,1.0,0.0,0.00,0.0,1.0,NaN,NaN
199,199,1.0,1.0,0.0,0.00,0.0,1.0,NaN,NaN
200,mip_fminc2_200_1,5092.0,5092.0,0.0,607.96,2350.0,200.0,149.0,25.86

In [4]:
form_="fmax"
dim_=200
id_=1

file=f"../result/{inst_}/{method_}/{method_}_{form_}_{inst_}_{dim_}_{id_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','bs','gap','time','nodes','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}_{form_}_{dim_}_{id_}",
    'bb':table["bb"].sum(),
    'bs':table["bs"].sum(),
    'gap':table['gap'].sum(),
    'time':table['time'].sum(),
    'nodes':table['nodes'].sum(),
    'opt':table['opt'].sum(),
    "tk":table["bs"].max(),
    "tmax":table["time"].max()
    },index=[f"{form_}_{inst_}_{dim_}_{id_}"]
)

table = pd.concat([table, resume], ignore_index=True)
mip_internet_fmax_200_1 = table
mip_internet_fmax_200_1

#print(mip_internet_fmax_200_1[['vertice','bb','bs','gap','time','nodes','opt']].to_latex(index=False,float_format="%.2f"))

            vertice      bb      bs  gap    time   nodes    opt     tk   tmax
0                 0   143.0   143.0  0.0   11.51    61.0    1.0    NaN    NaN
1                 1   124.0   124.0  0.0    6.32     1.0    1.0    NaN    NaN
2                 2   127.0   127.0  0.0    3.50     1.0    1.0    NaN    NaN
3                 3   124.0   124.0  0.0   16.25    15.0    1.0    NaN    NaN
4                 4   124.0   124.0  0.0   14.75    67.0    1.0    NaN    NaN
..              ...     ...     ...  ...     ...     ...    ...    ...    ...
196             196     1.0     1.0  0.0    0.00     0.0    1.0    NaN    NaN
197             197     1.0     1.0  0.0    0.00     0.0    1.0    NaN    NaN
198             198     1.0     1.0  0.0    0.00     0.0    1.0    NaN    NaN
199             199     1.0     1.0  0.0    0.00     0.0    1.0    NaN    NaN
200  mip_fmax_200_1  5092.0  5092.0  0.0  597.14  2260.0  200.0  149.0  30.05

[201 rows x 9 columns]

In [5]:
form_="fmaxmisetn0"
dim_=200
id_=1

file=f"../result/{inst_}/{method_}/{method_}_{form_}_{inst_}_{dim_}_{id_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','bs','gap','time','nodes','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}_{form_}_{dim_}_{id_}",
    'bb':table["bb"].sum(),
    'bs':table["bs"].sum(),
    'gap':table['gap'].sum(),
    'time':table['time'].sum(),
    'nodes':table['nodes'].sum(),
    'opt':table['opt'].sum(),
    "tk":table["bs"].max(),
    "tmax":table["time"].max()
    },index=[f"{form_}_{inst_}_{dim_}_{id_}"]
)

table = pd.concat([table, resume], ignore_index=True)
mip_internet_fmaxmisetn0_200_1 = table
mip_internet_fmaxmisetn0_200_1

#print(mip_internet_fmaxmisetn0_200_1[['vertice','bb','bs','gap','time','nodes','opt']].to_latex(index=False,float_format="%.2f"))

,vertice,bb,bs,gap,time,nodes,opt,tk,tmax
0,0,143.0,143.0,0.0,8.46,13.0,1.0,NaN,NaN
1,1,124.0,124.0,0.0,4.66,1.0,1.0,NaN,NaN
2,2,127.0,127.0,0.0,2.27,1.0,1.0,NaN,NaN
3,3,124.0,124.0,0.0,10.49,13.0,1.0,NaN,NaN
4,4,124.0,124.0,0.0,14.93,17.0,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
196,196,1.0,1.0,0.0,0.00,0.0,1.0,NaN,NaN
197,197,1.0,1.0,0.0,0.00,0.0,1.0,NaN,NaN
198,198,1.0,1.0,0.0,0.00,0.0,1.0,NaN,NaN
199,199,1.0,1.0,0.0,0.00,0.0,1.0,NaN,NaN
200,mip_fmaxmisetn0_200_1,5092.0,5092.0,0.0,553.50,604.0,200.0,149.0,26.62

In [4]:
form_="fminmiset"
dim_=200
id_=1

file=f"../result/{inst_}/{method_}/{method_}_{form_}_{inst_}_{dim_}_{id_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','bs','gap','time','nodes','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}_{form_}_{dim_}_{id_}",
    'bb':table["bb"].sum(),
    'bs':table["bs"].sum(),
    'gap':table['gap'].sum(),
    'time':table['time'].sum(),
    'nodes':table['nodes'].sum(),
    'opt':table['opt'].sum(),
    "tk":table["bs"].max(),
    "tmax":table["time"].max()
    },index=[f"{form_}_{inst_}_{dim_}_{id_}"]
)

table = pd.concat([table, resume], ignore_index=True)
mip_internet_fminmiset_200_1 = table
mip_internet_fminmiset_200_1

#print(mip_internet_fminmiset_200_1[['vertice','bb','bs','gap','time','nodes','opt']].to_latex(index=False,float_format="%.2f"))

                 vertice      bb      bs  gap  time  nodes    opt     tk  tmax
0                      0   137.0   137.0  0.0  0.11   11.0    1.0    NaN   NaN
1                      1   120.0   120.0  0.0  0.10    5.0    1.0    NaN   NaN
2                      2   122.0   122.0  0.0  0.03    1.0    1.0    NaN   NaN
3                      3   120.0   120.0  0.0  0.11   13.0    1.0    NaN   NaN
4                      4   120.0   120.0  0.0  0.14   17.0    1.0    NaN   NaN
..                   ...     ...     ...  ...   ...    ...    ...    ...   ...
196                  196     1.0     1.0  0.0  0.00    0.0    1.0    NaN   NaN
197                  197     1.0     1.0  0.0  0.00    0.0    1.0    NaN   NaN
198                  198     1.0     1.0  0.0  0.00    0.0    1.0    NaN   NaN
199                  199     1.0     1.0  0.0  0.00    0.0    1.0    NaN   NaN
200  mip_fminmiset_200_1  4931.0  4931.0  0.0  4.36  624.0  200.0  146.0  0.17

[201 rows x 9 columns]

In [8]:
form_="fminmisetc2"
dim_=200
id_=1

file=f"../result/{inst_}/{method_}/{method_}_{form_}_{inst_}_{dim_}_{id_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','bs','gap','time','nodes','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}_{form_}_{dim_}_{id_}",
    'bb':table["bb"].sum(),
    'bs':table["bs"].sum(),
    'gap':table['gap'].sum(),
    'time':table['time'].sum(),
    'nodes':table['nodes'].sum(),
    'opt':table['opt'].sum(),
    "tk":table["bs"].max(),
    "tmax":table["time"].max()
    },index=[f"{form_}_{inst_}_{dim_}_{id_}"]
)

table = pd.concat([table, resume], ignore_index=True)
mip_internet_fminmisetc2_200_1 = table
mip_internet_fminmisetc2_200_1

#print(mip_internet_fminmisetn0_200_1[['vertice','bb','bs','gap','time','nodes','opt']].to_latex(index=False,float_format="%.2f"))

,vertice,bb,bs,gap,time,nodes,opt,tk,tmax
0,0,143.0,143.0,0.0,10.28,9.0,1.0,NaN,NaN
1,1,124.0,124.0,0.0,4.64,1.0,1.0,NaN,NaN
2,2,127.0,127.0,0.0,2.18,1.0,1.0,NaN,NaN
3,3,124.0,124.0,0.0,12.22,13.0,1.0,NaN,NaN
4,4,124.0,124.0,0.0,11.00,11.0,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
196,196,1.0,1.0,0.0,0.00,0.0,1.0,NaN,NaN
197,197,1.0,1.0,0.0,0.00,0.0,1.0,NaN,NaN
198,198,1.0,1.0,0.0,0.00,0.0,1.0,NaN,NaN
199,199,1.0,1.0,0.0,0.00,0.0,1.0,NaN,NaN
200,mip_fminmisetc2_200_1,5092.0,5092.0,0.0,561.67,454.0,200.0,149.0,25.1

In [9]:
form_="fminmisetc3"
dim_=200
id_=1

file=f"../result/{inst_}/{method_}/{method_}_{form_}_{inst_}_{dim_}_{id_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['vertice','bb','bs','gap','time','nodes','opt']

resume = pd.DataFrame({
    'vertice':f"{method_}_{form_}_{dim_}_{id_}",
    'bb':table["bb"].sum(),
    'bs':table["bs"].sum(),
    'gap':table['gap'].sum(),
    'time':table['time'].sum(),
    'nodes':table['nodes'].sum(),
    'opt':table['opt'].sum(),
    "tk":table["bs"].max(),
    "tmax":table["time"].max()
    },index=[f"{form_}_{inst_}_{dim_}_{id_}"]
)

table = pd.concat([table, resume], ignore_index=True)
mip_internet_fminmisetc3_200_1 = table
mip_internet_fminmisetc3_200_1

#print(mip_internet_fminmisetn1_200_1[['vertice','bb','bs','gap','time','nodes','opt']].to_latex(index=False,float_format="%.2f"))

,vertice,bb,bs,gap,time,nodes,opt,tk,tmax
0,0,143.0,143.0,0.0,7.22,9.0,1.0,NaN,NaN
1,1,124.0,124.0,0.0,4.74,1.0,1.0,NaN,NaN
2,2,127.0,127.0,0.0,2.08,1.0,1.0,NaN,NaN
3,3,124.0,124.0,0.0,14.18,9.0,1.0,NaN,NaN
4,4,124.0,124.0,0.0,11.83,9.0,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
196,196,1.0,1.0,0.0,0.00,0.0,1.0,NaN,NaN
197,197,1.0,1.0,0.0,0.00,0.0,1.0,NaN,NaN
198,198,1.0,1.0,0.0,0.00,0.0,1.0,NaN,NaN
199,199,1.0,1.0,0.0,0.00,0.0,1.0,NaN,NaN
200,mip_fminmisetc3_200_1,5092.0,5092.0,0.0,494.36,468.0,200.0,149.0,21.08

In [10]:
result_200_1 = pd.DataFrame()

result_200_1 = pd.merge(
    mip_internet_fminc2_200_1, mip_internet_fminmiset_200_1,
    on=['vertice'], 
    suffixes=("", "_b"),
    )

result_200_1 = pd.merge(
    result_200_1, mip_internet_fminmisetc2_200_1,
    on=['vertice'], 
    suffixes=("", "_c"),
    )

result_200_1 = pd.merge(
    result_200_1, mip_internet_fminmisetc3_200_1,
    on=['vertice'], 
    suffixes=("", "_d"),
    )


result_200_1[[
    'vertice',
    'bs','gap','time','opt','tk','tmax',
    'bs_b','gap_b','time_b','opt_b','tk_b','tmax_b',
    'bs_c','gap_c','time_c','opt_c','tk_c','tmax_c',
    'bs_d','gap_d','time_d','opt_d','tk_d','tmax_d',
    ]]

,vertice,bs,gap,time,opt,tk,tmax,bs_b,gap_b,time_b,...,time_c,opt_c,tk_c,tmax_c,bs_d,gap_d,time_d,opt_d,tk_d,tmax_d
0,0,143.0,0.0,7.78,1.0,NaN,NaN,137.0,0.0,0.11,...,10.28,1.0,NaN,NaN,143.0,0.0,7.22,1.0,NaN,NaN
1,1,124.0,0.0,7.83,1.0,NaN,NaN,120.0,0.0,0.10,...,4.64,1.0,NaN,NaN,124.0,0.0,4.74,1.0,NaN,NaN
2,2,127.0,0.0,3.09,1.0,NaN,NaN,122.0,0.0,0.03,...,2.18,1.0,NaN,NaN,127.0,0.0,2.08,1.0,NaN,NaN
3,3,124.0,0.0,19.67,1.0,NaN,NaN,120.0,0.0,0.11,...,12.22,1.0,NaN,NaN,124.0,0.0,14.18,1.0,NaN,NaN
4,4,124.0,0.0,11.93,1.0,NaN,NaN,120.0,0.0,0.14,...,11.00,1.0,NaN,NaN,124.0,0.0,11.83,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,195,1.0,0.0,0.00,1.0,NaN,NaN,1.0,0.0,0.00,...,0.00,1.0,NaN,NaN,1.0,0.0,0.00,1.0,NaN,NaN
196,196,1.0,0.0,0.00,1.0,NaN,NaN,1.0,0.0,0.00,...,0.00,1.0,NaN,NaN,1.0,0.0,0.00,1.0,NaN,NaN
197,197,1.0,0.0,0.00,1.0,NaN,NaN,1.0,0.0,0.00,...,0.00,1.0,NaN,NaN,1.0,0.0,0.00,1.0,NaN,NaN
198,198,1.0,0.0,0.00,1.0,NaN,NaN,1.0,0.0,0.00,...,0.00,1.0,NaN,NaN,1.0,0.0,0.00,1.0,NaN,NaN
199,199,1.0,0.0,0.00,1.0,NaN,NaN,1.0,0.0,0.00,...,0.00,1.0,NaN,NaN,1.0,0.0,0.00,1.0,NaN,NaN

In [11]:
print(
result_200_1[[
    'vertice',
    'bs','gap','time','opt','tk','tmax',
    'bs_b','gap_b','time_b','opt_b','tk_b','tmax_b',
    'bs_c','gap_c','time_c','opt_c','tk_c','tmax_c',
    'bs_d','gap_d','time_d','opt_d','tk_d','tmax_d',
    ]].to_latex(index=False,float_format="%.1f")
    )

\begin{tabular}{lrrrrrrrrrrrrrrrrrrrrrrrr}
\toprule
vertice & bs & gap & time & opt & tk & tmax & bs_b & gap_b & time_b & opt_b & tk_b & tmax_b & bs_c & gap_c & time_c & opt_c & tk_c & tmax_c & bs_d & gap_d & time_d & opt_d & tk_d & tmax_d \\
\midrule
0 & 143.0 & 0.0 & 7.8 & 1.0 & NaN & NaN & 137.0 & 0.0 & 0.1 & 1.0 & NaN & NaN & 143.0 & 0.0 & 10.3 & 1.0 & NaN & NaN & 143.0 & 0.0 & 7.2 & 1.0 & NaN & NaN \\
1 & 124.0 & 0.0 & 7.8 & 1.0 & NaN & NaN & 120.0 & 0.0 & 0.1 & 1.0 & NaN & NaN & 124.0 & 0.0 & 4.6 & 1.0 & NaN & NaN & 124.0 & 0.0 & 4.7 & 1.0 & NaN & NaN \\
2 & 127.0 & 0.0 & 3.1 & 1.0 & NaN & NaN & 122.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 127.0 & 0.0 & 2.2 & 1.0 & NaN & NaN & 127.0 & 0.0 & 2.1 & 1.0 & NaN & NaN \\
3 & 124.0 & 0.0 & 19.7 & 1.0 & NaN & NaN & 120.0 & 0.0 & 0.1 & 1.0 & NaN & NaN & 124.0 & 0.0 & 12.2 & 1.0 & NaN & NaN & 124.0 & 0.0 & 14.2 & 1.0 & NaN & NaN \\
4 & 124.0 & 0.0 & 11.9 & 1.0 & NaN & NaN & 120.0 & 0.0 & 0.1 & 1.0 & NaN & NaN & 124.0 & 0.0 & 11.0 & 1.0 & NaN & NaN & 124.0 & 0.0 & 11.8 & 1.0 & NaN & NaN \\
5 & 16.0 & 0.0 & 0.2 & 1.0 & NaN & NaN & 16.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 16.0 & 0.0 & 0.2 & 1.0 & NaN & NaN & 16.0 & 0.0 & 0.2 & 1.0 & NaN & NaN \\
6 & 124.0 & 0.0 & 13.1 & 1.0 & NaN & NaN & 120.0 & 0.0 & 0.1 & 1.0 & NaN & NaN & 124.0 & 0.0 & 11.8 & 1.0 & NaN & NaN & 124.0 & 0.0 & 8.2 & 1.0 & NaN & NaN \\
7 & 124.0 & 0.0 & 14.7 & 1.0 & NaN & NaN & 120.0 & 0.0 & 0.1 & 1.0 & NaN & NaN & 124.0 & 0.0 & 12.2 & 1.0 & NaN & NaN & 124.0 & 0.0 & 8.9 & 1.0 & NaN & NaN \\
8 & 125.0 & 0.0 & 3.6 & 1.0 & NaN & NaN & 120.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 125.0 & 0.0 & 2.2 & 1.0 & NaN & NaN & 125.0 & 0.0 & 1.9 & 1.0 & NaN & NaN \\
9 & 124.0 & 0.0 & 12.8 & 1.0 & NaN & NaN & 120.0 & 0.0 & 0.1 & 1.0 & NaN & NaN & 124.0 & 0.0 & 13.4 & 1.0 & NaN & NaN & 124.0 & 0.0 & 12.1 & 1.0 & NaN & NaN \\
10 & 149.0 & 0.0 & 10.1 & 1.0 & NaN & NaN & 146.0 & 0.0 & 0.1 & 1.0 & NaN & NaN & 149.0 & 0.0 & 9.7 & 1.0 & NaN & NaN & 149.0 & 0.0 & 8.2 & 1.0 & NaN & NaN \\
11 & 124.0 & 0.0 & 10.3 & 1.0 & NaN & NaN & 120.0 & 0.0 & 0.1 & 1.0 & NaN & NaN & 124.0 & 0.0 & 11.5 & 1.0 & NaN & NaN & 124.0 & 0.0 & 10.5 & 1.0 & NaN & NaN \\
12 & 124.0 & 0.0 & 20.4 & 1.0 & NaN & NaN & 120.0 & 0.0 & 0.1 & 1.0 & NaN & NaN & 124.0 & 0.0 & 16.3 & 1.0 & NaN & NaN & 124.0 & 0.0 & 17.8 & 1.0 & NaN & NaN \\
13 & 124.0 & 0.0 & 18.9 & 1.0 & NaN & NaN & 120.0 & 0.0 & 0.1 & 1.0 & NaN & NaN & 124.0 & 0.0 & 17.8 & 1.0 & NaN & NaN & 124.0 & 0.0 & 16.9 & 1.0 & NaN & NaN \\
14 & 124.0 & 0.0 & 18.9 & 1.0 & NaN & NaN & 120.0 & 0.0 & 0.1 & 1.0 & NaN & NaN & 124.0 & 0.0 & 17.0 & 1.0 & NaN & NaN & 124.0 & 0.0 & 13.8 & 1.0 & NaN & NaN \\
15 & 124.0 & 0.0 & 13.1 & 1.0 & NaN & NaN & 120.0 & 0.0 & 0.1 & 1.0 & NaN & NaN & 124.0 & 0.0 & 12.7 & 1.0 & NaN & NaN & 124.0 & 0.0 & 11.2 & 1.0 & NaN & NaN \\
16 & 124.0 & 0.0 & 22.3 & 1.0 & NaN & NaN & 120.0 & 0.0 & 0.1 & 1.0 & NaN & NaN & 124.0 & 0.0 & 17.5 & 1.0 & NaN & NaN & 124.0 & 0.0 & 16.9 & 1.0 & NaN & NaN \\
17 & 124.0 & 0.0 & 17.2 & 1.0 & NaN & NaN & 120.0 & 0.0 & 0.2 & 1.0 & NaN & NaN & 124.0 & 0.0 & 9.5 & 1.0 & NaN & NaN & 124.0 & 0.0 & 10.6 & 1.0 & NaN & NaN \\
18 & 124.0 & 0.0 & 25.9 & 1.0 & NaN & NaN & 120.0 & 0.0 & 0.1 & 1.0 & NaN & NaN & 124.0 & 0.0 & 25.1 & 1.0 & NaN & NaN & 124.0 & 0.0 & 20.6 & 1.0 & NaN & NaN \\
19 & 124.0 & 0.0 & 15.5 & 1.0 & NaN & NaN & 120.0 & 0.0 & 0.1 & 1.0 & NaN & NaN & 124.0 & 0.0 & 11.8 & 1.0 & NaN & NaN & 124.0 & 0.0 & 9.2 & 1.0 & NaN & NaN \\
20 & 125.0 & 0.0 & 21.6 & 1.0 & NaN & NaN & 120.0 & 0.0 & 0.1 & 1.0 & NaN & NaN & 125.0 & 0.0 & 15.8 & 1.0 & NaN & NaN & 125.0 & 0.0 & 11.5 & 1.0 & NaN & NaN \\
21 & 124.0 & 0.0 & 19.9 & 1.0 & NaN & NaN & 120.0 & 0.0 & 0.1 & 1.0 & NaN & NaN & 124.0 & 0.0 & 14.0 & 1.0 & NaN & NaN & 124.0 & 0.0 & 13.3 & 1.0 & NaN & NaN \\
22 & 124.0 & 0.0 & 12.9 & 1.0 & NaN & NaN & 120.0 & 0.0 & 0.1 & 1.0 & NaN & NaN & 124.0 & 0.0 & 11.6 & 1.0 & NaN & NaN & 124.0 & 0.0 & 9.3 & 1.0 & NaN & NaN \\
23 & 124.0 & 0.0 & 11.8 & 1.0 & NaN & NaN & 120.0 & 0.0 & 0.1 & 1.0 & NaN & NaN & 124.0 & 0.0 & 11.4 & 1.0 & NaN & NaN & 124.0 & 0.0 & 13.3 & 1.0 & NaN & NaN \\
24 & 124.0 & 0.0 & 15.2 & 1.0 & NaN & NaN & 120.0 & 0.0 & 0.1 & 1.0 & NaN & NaN & 124.0 & 0.0 & 15.9 & 1.0 & NaN & NaN & 124.0 & 0.0 & 15.3 & 1.0 & NaN & NaN \\
25 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
26 & 124.0 & 0.0 & 17.4 & 1.0 & NaN & NaN & 120.0 & 0.0 & 0.1 & 1.0 & NaN & NaN & 124.0 & 0.0 & 12.8 & 1.0 & NaN & NaN & 124.0 & 0.0 & 16.2 & 1.0 & NaN & NaN \\
27 & 124.0 & 0.0 & 14.2 & 1.0 & NaN & NaN & 120.0 & 0.0 & 0.1 & 1.0 & NaN & NaN & 124.0 & 0.0 & 14.9 & 1.0 & NaN & NaN & 124.0 & 0.0 & 12.2 & 1.0 & NaN & NaN \\
28 & 124.0 & 0.0 & 15.5 & 1.0 & NaN & NaN & 120.0 & 0.0 & 0.1 & 1.0 & NaN & NaN & 124.0 & 0.0 & 16.6 & 1.0 & NaN & NaN & 124.0 & 0.0 & 14.7 & 1.0 & NaN & NaN \\
29 & 125.0 & 0.0 & 18.4 & 1.0 & NaN & NaN & 120.0 & 0.0 & 0.1 & 1.0 & NaN & NaN & 125.0 & 0.0 & 17.2 & 1.0 & NaN & NaN & 125.0 & 0.0 & 15.3 & 1.0 & NaN & NaN \\
30 & 124.0 & 0.0 & 13.8 & 1.0 & NaN & NaN & 120.0 & 0.0 & 0.1 & 1.0 & NaN & NaN & 124.0 & 0.0 & 19.6 & 1.0 & NaN & NaN & 124.0 & 0.0 & 15.5 & 1.0 & NaN & NaN \\
31 & 124.0 & 0.0 & 12.4 & 1.0 & NaN & NaN & 120.0 & 0.0 & 0.1 & 1.0 & NaN & NaN & 124.0 & 0.0 & 17.6 & 1.0 & NaN & NaN & 124.0 & 0.0 & 10.5 & 1.0 & NaN & NaN \\
32 & 124.0 & 0.0 & 24.7 & 1.0 & NaN & NaN & 120.0 & 0.0 & 0.1 & 1.0 & NaN & NaN & 124.0 & 0.0 & 24.7 & 1.0 & NaN & NaN & 124.0 & 0.0 & 14.6 & 1.0 & NaN & NaN \\
33 & 124.0 & 0.0 & 15.7 & 1.0 & NaN & NaN & 120.0 & 0.0 & 0.1 & 1.0 & NaN & NaN & 124.0 & 0.0 & 22.8 & 1.0 & NaN & NaN & 124.0 & 0.0 & 20.8 & 1.0 & NaN & NaN \\
34 & 124.0 & 0.0 & 15.0 & 1.0 & NaN & NaN & 120.0 & 0.0 & 0.1 & 1.0 & NaN & NaN & 124.0 & 0.0 & 18.2 & 1.0 & NaN & NaN & 124.0 & 0.0 & 16.7 & 1.0 & NaN & NaN \\
35 & 16.0 & 0.0 & 0.1 & 1.0 & NaN & NaN & 16.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 16.0 & 0.0 & 0.2 & 1.0 & NaN & NaN & 16.0 & 0.0 & 0.1 & 1.0 & NaN & NaN \\
36 & 124.0 & 0.0 & 20.2 & 1.0 & NaN & NaN & 120.0 & 0.0 & 0.1 & 1.0 & NaN & NaN & 124.0 & 0.0 & 19.6 & 1.0 & NaN & NaN & 124.0 & 0.0 & 11.8 & 1.0 & NaN & NaN \\
37 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
38 & 124.0 & 0.0 & 22.8 & 1.0 & NaN & NaN & 120.0 & 0.0 & 0.1 & 1.0 & NaN & NaN & 124.0 & 0.0 & 18.5 & 1.0 & NaN & NaN & 124.0 & 0.0 & 14.7 & 1.0 & NaN & NaN \\
39 & 124.0 & 0.0 & 21.1 & 1.0 & NaN & NaN & 120.0 & 0.0 & 0.1 & 1.0 & NaN & NaN & 124.0 & 0.0 & 21.9 & 1.0 & NaN & NaN & 124.0 & 0.0 & 15.9 & 1.0 & NaN & NaN \\
40 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
41 & 124.0 & 0.0 & 15.6 & 1.0 & NaN & NaN & 120.0 & 0.0 & 0.1 & 1.0 & NaN & NaN & 124.0 & 0.0 & 12.5 & 1.0 & NaN & NaN & 124.0 & 0.0 & 13.0 & 1.0 & NaN & NaN \\
42 & 124.0 & 0.0 & 16.0 & 1.0 & NaN & NaN & 120.0 & 0.0 & 0.1 & 1.0 & NaN & NaN & 124.0 & 0.0 & 14.4 & 1.0 & NaN & NaN & 124.0 & 0.0 & 21.1 & 1.0 & NaN & NaN \\
43 & 124.0 & 0.0 & 16.2 & 1.0 & NaN & NaN & 120.0 & 0.0 & 0.1 & 1.0 & NaN & NaN & 124.0 & 0.0 & 12.7 & 1.0 & NaN & NaN & 124.0 & 0.0 & 11.2 & 1.0 & NaN & NaN \\
44 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
45 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
46 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
47 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
48 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
49 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
50 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
51 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
52 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
53 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
54 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
55 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
56 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
57 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
58 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
59 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
60 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
61 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
62 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
63 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
64 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
65 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
66 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
67 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
68 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
69 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
70 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
71 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
72 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
73 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
74 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
75 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
76 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
77 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
78 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
79 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
80 & 16.0 & 0.0 & 0.1 & 1.0 & NaN & NaN & 16.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 16.0 & 0.0 & 0.2 & 1.0 & NaN & NaN & 16.0 & 0.0 & 0.1 & 1.0 & NaN & NaN \\
81 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
82 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
83 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
84 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
85 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
86 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
87 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
88 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
89 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
90 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
91 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
92 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
93 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
94 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
95 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
96 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
97 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
98 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
99 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
100 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
101 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
102 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
103 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
104 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
105 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
106 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
107 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
108 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
109 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
110 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
111 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
112 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
113 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
114 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
115 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
116 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
117 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
118 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
119 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
120 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
121 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
122 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
123 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
124 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
125 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
126 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\
127 & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN & 1.0 & 0.0 & 0.0 & 1.0 & NaN & NaN \\

In [12]:
resume_200_1 = pd.DataFrame()
resume_200_1 = pd.concat([resume_200_1, mip_internet_fminc2_200_1.loc[200:200]], ignore_index=True)
resume_200_1 = pd.concat([resume_200_1, mip_internet_fminmiset_200_1.loc[200:200]], ignore_index=True)
resume_200_1 = pd.concat([resume_200_1, mip_internet_fminmisetc2_200_1.loc[200:200]], ignore_index=True)
resume_200_1 = pd.concat([resume_200_1, mip_internet_fminmisetc3_200_1.loc[200:200]], ignore_index=True)
resume_200_1

,vertice,bb,bs,gap,time,nodes,opt,tk,tmax
0,mip_fminc2_200_1,5092.0,5092.0,0.0,607.96,2350.0,200.0,149.0,25.86
1,mip_fminmiset_200_1,4931.0,4931.0,0.0,4.36,624.0,200.0,146.0,0.17
2,mip_fminmisetc2_200_1,5092.0,5092.0,0.0,561.67,454.0,200.0,149.0,25.10
3,mip_fminmisetc3_200_1,5092.0,5092.0,0.0,494.36,468.0,200.0,149.0,21.08

In [13]:
print(
resume_200_1[[
    'vertice','bs','gap','time','opt','tk','tmax',
    ]].to_latex(index=False,float_format="%.1f")
)

\begin{tabular}{lrrrrrr}
\toprule
vertice & bs & gap & time & opt & tk & tmax \\
\midrule
mip_fminc2_200_1 & 5092.0 & 0.0 & 608.0 & 200.0 & 149.0 & 25.9 \\
mip_fminmiset_200_1 & 4931.0 & 0.0 & 4.4 & 200.0 & 146.0 & 0.2 \\
mip_fminmisetc2_200_1 & 5092.0 & 0.0 & 561.7 & 200.0 & 149.0 & 25.1 \\
mip_fminmisetc3_200_1 & 5092.0 & 0.0 & 494.4 & 200.0 & 149.0 & 21.1 \\
\bottomrule
\end{tabular}